Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

fix(queue): better handle multiple queue commands (#6923)
  mergify_engine/actions/__init__.py
  mergify_engine/actions/queue.py
  mergify_engine/engine/commands_runner.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/commands/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_draft_pr/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_draft_pr/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_draft_pr/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_command_queue_non_matching_queue_conditions_and_specifying_queue_name/config.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_non_matching_queue_conditions_and_specifying_queue_name/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_non_matching_queue_conditions_and_specifying_queue_name/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_multiple_queue_commands_on_different_queues/config.json
  zfixtures/cassettes/TestQueueCommand/test_multiple_queue_commands_on_different_queues/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_multiple_queue_commands_on_different_queues/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_multiple_queue_commands_on_different_queues_with_restrictions/config.json
  zfixtures/cassettes/TestQueueCommand/test_multiple_queue_commands_on_different_queues_with_restrictions/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_multiple_queue_commands_on_different_queues_with_restrictions/http.yaml
Due: tests

fix(worker): workaround for unexpeceted CancelledError (#6992)
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/task.py
Due: tests

chore(task): improve shutdown process (#6993)
  mergify_engine/worker/task.py
Due: tests

ci(pg-anonymizer): set a locale (#7010)
  poe.toml
Due: none

chore(woker): clean useless variables (#7011)
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/manager.py
Due: tests

ci: re-add database migration testing (#7001)
  .github/workflows/docker-saas.yaml
  .github/workflows/testing-database-sync.yaml
  tools/run-testing-database-sync.sh
Due: none

feat(rules): support date/time intervals (#6990)
  docs/source/conditions.rst
  docs/source/configuration.rst
  mergify_engine/date.py
  mergify_engine/rules/filter.py
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_filter.py
  mergify_engine/tests/unit/rules/test_parser.py
  mergify_engine/tests/unit/test_date.py
  releasenotes/notes/current-datetime-interval-support-b2e9cfe161f7e4c0.yaml
  zfixtures/cassettes/TestAttributes/test_current_datetime_range/config.json
  zfixtures/cassettes/TestAttributes/test_current_datetime_range/git-1.json
  zfixtures/cassettes/TestAttributes/test_current_datetime_range/http.yaml
Due: tests, docs

ci: fix create Linear (#7020)
  .github/workflows/create-linear-for-docs.yaml
Due: none

refactor: comply with Ruff 0.0.280 (#7009)
  mergify_engine/queue/merge_train/convoy.py
  mergify_engine/rules/conditions.py
  mergify_engine/rules/filter.py
  mergify_engine/tests/functional/actions/test_queue_train_api_calls.py
  mergify_engine/tests/functional/api/test_auth.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/unit/merge_train/test_train.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests

test(command): test requeue command (#7021)
  mergify_engine/tests/functional/commands/test_requeue.py
  zfixtures/cassettes/TestRequeueCommand/test_requeue/config.json
  zfixtures/cassettes/TestRequeueCommand/test_requeue/git-1.json
  zfixtures/cassettes/TestRequeueCommand/test_requeue/http.yaml
Due: tests

fix: be less aggressive for merge failure (#7026)
  mergify_engine/actions/merge_base.py
Due: tests

fix(gitter): don't catch CancelledError (#7032)
  mergify_engine/gitter.py
Due: tests

fix(worker): uncancel task (#7030)
  mergify_engine/worker/task.py
Due: tests

chore: enable http2 on our http client (#7029)
  mergify_engine/clients/http.py
Due: tests

fix: workflow_run_id is a foreign key its anonymizer config should be None (#7022)
  mergify_engine/models/github_actions.py
Due: tests

chore(gitter): improve logging (#7031)
  mergify_engine/gitter.py
Due: tests

test: fix gpg key (#7027)
  mergify_engine/config/__init__.py
  mergify_engine/tests/functional/base.py
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_bool/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_bool/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_bool/http.yaml
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_bool/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_bool/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_bool/http.yaml
  zfixtures/cassettes/TestAttributes/test_one_commit_verified/config.json
  zfixtures/cassettes/TestAttributes/test_one_commit_verified/git-1.json
  zfixtures/cassettes/TestAttributes/test_one_commit_verified/http.yaml
  zfixtures/cassettes/TestAttributes/test_two_commits_verified/config.json
  zfixtures/cassettes/TestAttributes/test_two_commits_verified/git-1.json
  zfixtures/cassettes/TestAttributes/test_two_commits_verified/http.yaml
Due: tests

feat(events): Event model action_queue_checks_end (#7002)
  mergify_engine/models/db_migration/versions/f8ee4149e909_model_queue_checks_end.py
  mergify_engine/models/enumerations.py
  mergify_engine/models/events.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/signals.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

fix(events): do not alter metadata (#7051)
  mergify_engine/models/events.py
Due: tests

chore(merge): add log (#7049)
  mergify_engine/actions/merge_base.py
Due: tests

feat(events): queue freeze and update events (#7025)
  mergify_engine/models/db_migration/versions/cac437b249cb_events_queue_freeze_and_update.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

chore(datadog): add a span per job (#7058)
  mergify_engine/ci/event_processing.py
Due: tests

feat(log_embedder): add service to run our pipeline (#7018)
  mergify_engine/config/__init__.py
  mergify_engine/log_embedder/github_action.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/log_embedder/test_service.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/log_embedder_service.py
  mergify_engine/worker/manager.py
Due: tests

fix(queue): Improve `queue` command reporting before first rules evaluation (#7060)
  mergify_engine/queue/merge_train/train.py
  mergify_engine/tests/functional/commands/test_queue.py
  zfixtures/cassettes/TestQueueCommand/test_branch_protections_reporting_when_pr_is_not_yet_in_traincar/config.json
  zfixtures/cassettes/TestQueueCommand/test_branch_protections_reporting_when_pr_is_not_yet_in_traincar/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_branch_protections_reporting_when_pr_is_not_yet_in_traincar/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_queue_command_unqueue_pr_after_ci_failure/config.json
  zfixtures/cassettes/TestQueueCommand/test_queue_command_unqueue_pr_after_ci_failure/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_queue_command_unqueue_pr_after_ci_failure/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_without_config/config.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/http.yaml
Due: tests

fix: application key creation for organizations (#7048)
  mergify_engine/github_types.py
  mergify_engine/tests/unit/front/test_applications.py
  mergify_engine/web/front/applications.py
  mergify_engine/web/front/security.py
Due: tests

fix: ignore merge commits and bots in co-authors (#7052)
  docs/source/conditions.rst
  mergify_engine/context.py
  mergify_engine/tests/unit/test_context.py
Due: tests, docs

chore(docker): image security scanning report (#7065)
  docker-security-scan.json
Due: none

test: add coverage for command ordering (#7047)
  mergify_engine/tests/unit/test_command.py
Due: tests

refactor(merge-after): leverage current-datetime (#7043)
  mergify_engine/context.py
  mergify_engine/rules/conditions.py
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_filter.py
  mergify_engine/tests/unit/rules/test_get_rule_checks_status.py
  mergify_engine/tests/unit/rules/test_parser.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/tests/unit/test_context.py
  mergify_engine/tests/unit/test_summary.py
  zfixtures/cassettes/TestAttributesWithSub/test_merge_after/config.json
  zfixtures/cassettes/TestAttributesWithSub/test_merge_after/git-1.json
  zfixtures/cassettes/TestAttributesWithSub/test_merge_after/http.yaml
Due: tests

refactor(logs): raise default log level for some packages (#7074)
  mergify_engine/logs.py
Due: tests

fix(queue): handle PR not mergeable (#7076)
  mergify_engine/actions/merge_base.py
  mergify_engine/tests/functional/commands/test_queue.py
  zfixtures/cassettes/TestQueueCommand/test_pull_request_is_not_mergeable/config.json
  zfixtures/cassettes/TestQueueCommand/test_pull_request_is_not_mergeable/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_pull_request_is_not_mergeable/http.yaml
Due: tests

fix(queue): handle success conditions in delayed refresh (#7075)
  mergify_engine/delayed_refresh.py
  mergify_engine/tests/unit/test_delayed_refresh.py
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_draft_pr/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_draft_pr/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_draft_pr/http.yaml
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_schedule/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_schedule/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_schedule/http.yaml
Due: tests

chore(train_car): add more logging for unsuccessful_checks (#7077)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

feat: Add log embedding compute distance (#7059)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/models/db_migration/versions/7539200eded8_add_wj_job_embedding_distance.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/log_embedder/test_github_actions.py
  mergify_engine/tests/unit/log_embedder/test_service.py
  mergify_engine/tests/unit/log_embedder/utils.py
Due: tests

refactor(queue): Move `require_branch_protection` config option to `queue_rules` (#7088)
  docs/source/actions/queue.rst
  mergify_engine/actions/queue.py
  mergify_engine/config/__init__.py
  mergify_engine/engine/actions_runner.py
  mergify_engine/rules/conditions.py
  mergify_engine/rules/config/queue_rules.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_queue_train_api_calls.py
  mergify_engine/tests/functional/commands/test_queue.py
  releasenotes/notes/move-require-branch-protection-of-queue-action-a181eebf2851da81.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_checks_and_branch/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_checks_and_branch/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_checks_and_branch/git-2.json
  zfixtures/cassettes/TestQueueAction/test_queue_checks_and_branch/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_inplace_interrupted/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_inplace_interrupted/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_inplace_interrupted/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_with_default_config_branch_protection_only/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_default_config_branch_protection_only/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_default_config_branch_protection_only/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_without_branch_protection_for_queueing/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_without_branch_protection_for_queueing/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_without_branch_protection_for_queueing/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_without_branch_protection_for_queueing_conf_in_queue_rules/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_without_branch_protection_for_queueing_conf_in_queue_rules/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_without_branch_protection_for_queueing_conf_in_queue_rules/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_branch_protections_reporting_when_pr_is_not_yet_in_traincar/config.json
  zfixtures/cassettes/TestQueueCommand/test_branch_protections_reporting_when_pr_is_not_yet_in_traincar/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_branch_protections_reporting_when_pr_is_not_yet_in_traincar/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_queue_command_unqueue_pr_after_ci_failure/config.json
  zfixtures/cassettes/TestQueueCommand/test_queue_command_unqueue_pr_after_ci_failure/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_queue_command_unqueue_pr_after_ci_failure/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_without_config/config.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/http.yaml
Due: tests, docs

refactor(alembic): detect type change with autogenerate (#7097)
  mergify_engine/models/db_migration/env.py
Due: tests

chore(docker): image security scanning report This is the docker image security scanning report
  docker-security-scan.json
Due: none

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
