Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

feat(api): add continuous_integrations_state to API (#4851)
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/web/api/queues/details.py
Due: tests

fix(queue): use new rebase method except for bot (#4804)
  mergify_engine/branch_updater.py
  mergify_engine/constants.py
  mergify_engine/queue/merge_train/train_car.py
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr/git-2.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr_conf_in_queue_rules/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr_conf_in_queue_rules/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr_conf_in_queue_rules/git-2.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_on_githubapp_pr_conf_in_queue_rules/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_update_method/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_update_method/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_update_method/git-2.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_update_method/git-3.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_rebase_update_method/http.yaml
Due: tests

ci: add dockerfile linter (#4855)
  .github/workflows/docker-saas.yaml
  .hadolint.yaml
  dockerfiles/Dockerfile.common
  dockerfiles/Dockerfile.onpremise
  dockerfiles/Dockerfile.saas
Due: none

fix(datadog): add missing database file (#4839)
  dockerfiles/Dockerfile.common
Due: none

test: set default API client headers (#4786)
  mergify_engine/tests/conftest.py
  mergify_engine/tests/functional/actions/test_delete_head_branch.py
  mergify_engine/tests/functional/actions/test_dismiss_review.py
  mergify_engine/tests/functional/actions/test_edit.py
  mergify_engine/tests/functional/actions/test_label.py
  mergify_engine/tests/functional/actions/test_post_check.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_review.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/tests/functional/api/test_queue_freeze.py
  mergify_engine/tests/functional/api/test_simulator.py
  mergify_engine/tests/functional/api/test_statistics.py
  mergify_engine/tests/functional/api/test_subscriptions.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/test_statistics.py
Due: tests

refactor(json): modernize and rename Enum type registration (#4861)
  mergify_engine/check_api.py
  mergify_engine/json.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/queue/merge_train/types.py
  mergify_engine/tests/unit/test_json.py
Due: tests

fix(datadog): use correct path for postgres configuration file (#4862)
  dockerfiles/Dockerfile.common
Due: none

fix: add not yet reported check to related_checks (#4857)
  mergify_engine/rules/filter.py
  mergify_engine/tests/unit/rules/test_rules.py
  zfixtures/cassettes/TestQueueAction/test_basic_queue/config.json
  zfixtures/cassettes/TestQueueAction/test_basic_queue/git-1.json
  zfixtures/cassettes/TestQueueAction/test_basic_queue/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_with_ci_in_pull_request_rules/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_ci_in_pull_request_rules/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_ci_in_pull_request_rules/http.yaml
Due: tests

chore(datadog): enable sqlalchemy integration (#4846)
  mergify_engine/models/__init__.py
Due: tests

chore(pg): don't allow pool overflow (#4840)
  mergify_engine/cli.py
  mergify_engine/config.py
  mergify_engine/models/__init__.py
  mergify_engine/service.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/test_config.py
  mergify_engine/web/asgi.py
  mergify_engine/web/asgi_testing.py
  mergify_engine/worker/manager.py
Due: tests

refactor(copy): use token from engine db (#4811)
  mergify_engine/actions/copy.py
  mergify_engine/duplicate_pull.py
Due: tests

refactor(comment): use token from engine db (#4868)
  mergify_engine/actions/comment.py
Due: tests

refactor(update): use token from engine db (#4812)
  mergify_engine/actions/update.py
  mergify_engine/branch_updater.py
Due: tests

docs: Add missing `s` to `parameters` (#4899)
  docs/source/actions/queue.rst
Due: docs

refactor(merge): use token from engine db (#4903)
  mergify_engine/actions/merge.py
  mergify_engine/actions/merge_base.py
  mergify_engine/actions/queue.py
Due: tests

fix(comment): report empty message error with voluptuous (#4902)
  mergify_engine/actions/comment.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests

chore: Fix typo in `idempotent` (#4905)
  mergify_engine/tests/functional/actions/test_label.py
  mergify_engine/tests/unit/test_train.py
Due: tests

chore: log ignored pull request rules (#4913)
  mergify_engine/engine/actions_runner.py
Due: tests

fix(github-requests-report): replace jq startswith by contains (#4912)
  tools/compare-github-requests.sh
Due: none

refactor(queue): use token from engine db (#4909)
  mergify_engine/actions/queue.py
Due: tests

refactor(edit): use token from engine db (#4908)
  mergify_engine/actions/edit.py
  mergify_engine/tests/functional/api/test_simulator.py
  zfixtures/cassettes/TestEditAction/test_draft_already_converted/config.json
  zfixtures/cassettes/TestEditAction/test_draft_already_converted/git-1.json
  zfixtures/cassettes/TestEditAction/test_draft_already_converted/http.yaml
  zfixtures/cassettes/TestEditAction/test_draft_to_ready_for_review/config.json
  zfixtures/cassettes/TestEditAction/test_draft_to_ready_for_review/git-1.json
  zfixtures/cassettes/TestEditAction/test_draft_to_ready_for_review/http.yaml
  zfixtures/cassettes/TestEditAction/test_edit_on_closed_pr/config.json
  zfixtures/cassettes/TestEditAction/test_edit_on_closed_pr/git-1.json
  zfixtures/cassettes/TestEditAction/test_edit_on_closed_pr/http.yaml
  zfixtures/cassettes/TestEditAction/test_pr_to_draft_edit/config.json
  zfixtures/cassettes/TestEditAction/test_pr_to_draft_edit/git-1.json
  zfixtures/cassettes/TestEditAction/test_pr_to_draft_edit/http.yaml
  zfixtures/cassettes/TestEditAction/test_ready_for_review_already_converted/config.json
  zfixtures/cassettes/TestEditAction/test_ready_for_review_already_converted/git-1.json
  zfixtures/cassettes/TestEditAction/test_ready_for_review_already_converted/http.yaml
Due: tests

fix(redis): fix environement variables (#4938)
  mergify_engine/web/redis.py
Due: tests

feat: create main CI API endpoint (#4830)
  mergify_engine/ci/cost_calculator.py
  mergify_engine/ci/models.py
  mergify_engine/ci/reports.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_cost_calculator.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/web/api/ci/__init__.py
  mergify_engine/web/api/ci/index.py
  mergify_engine/web/api/root.py
  zfixtures/cassettes/TestCIApi/test_report/config.json
  zfixtures/cassettes/TestCIApi/test_report/git-1.json
  zfixtures/cassettes/TestCIApi/test_report/http.yaml
Due: tests

fix(bot-account): inform later that the configuration is invalid (#4867)
  mergify_engine/actions/utils.py
Due: tests

fix(config): report location of some configuration error (#4897)
  mergify_engine/actions/__init__.py
  mergify_engine/actions/close.py
  mergify_engine/actions/comment.py
  mergify_engine/actions/copy.py
  mergify_engine/actions/dismiss_reviews.py
  mergify_engine/actions/edit.py
  mergify_engine/actions/label.py
  mergify_engine/actions/merge.py
  mergify_engine/actions/post_check.py
  mergify_engine/actions/rebase.py
  mergify_engine/actions/request_reviews.py
  mergify_engine/actions/review.py
  mergify_engine/actions/squash.py
  mergify_engine/actions/update.py
  mergify_engine/engine/actions_runner.py
  mergify_engine/engine/commands_runner.py
  mergify_engine/rules/config/pull_request_rules.py
  mergify_engine/tests/unit/actions/test_request_reviews.py
  mergify_engine/web/api/simulator.py
Due: tests

refactor(rebase): use token from engine db (#4907)
  mergify_engine/actions/rebase.py
  mergify_engine/branch_updater.py
  mergify_engine/queue/merge_train/train_car.py
Due: tests

chore(github-requests-report): use new multiline output method (#4911)
  .github/workflows/ci-target.yaml
Due: none

test(filter): add regex case insensitive test (#4947)
  mergify_engine/tests/unit/rules/test_filter.py
Due: tests

refactor(content): creates a helper to get check name for conditions (#4978)
  mergify_engine/context.py
Due: tests

ci(record): replace redis to bitnami/redis (#4979)
  .github/workflows/ci-record.yaml
Due: none

fix: PullRequestFinder fetch fallback (#4983)
  mergify_engine/pull_request_finder.py
  mergify_engine/tests/unit/test_pull_request_finder.py
  zfixtures/cassettes/TestAttributes/test_review_decision/config.json
  zfixtures/cassettes/TestAttributes/test_review_decision/git-1.json
  zfixtures/cassettes/TestAttributes/test_review_decision/http.yaml
  zfixtures/cassettes/TestCommandBackport/test_command_backport/config.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport/git-1.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport/git-2.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport/git-3.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport/http.yaml
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/config.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/git-1.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/git-2.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/git-3.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/http.yaml
  zfixtures/cassettes/TestCommandBackport/test_command_backport_without_config/config.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_without_config/git-1.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_without_config/git-2.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_without_config/git-3.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_without_config/http.yaml
  zfixtures/cassettes/TestCommandUpdate/test_command_update_pending/config.json
  zfixtures/cassettes/TestCommandUpdate/test_command_update_pending/git-1.json
  zfixtures/cassettes/TestCommandUpdate/test_command_update_pending/http.yaml
  zfixtures/cassettes/TestConfiguration/test_cached_config_changes_when_push_event_received/config.json
  zfixtures/cassettes/TestConfiguration/test_cached_config_changes_when_push_event_received/git-1.json
  zfixtures/cassettes/TestConfiguration/test_cached_config_changes_when_push_event_received/http.yaml
  zfixtures/cassettes/TestQueueAction/test_target_branch_vanished/config.json
  zfixtures/cassettes/TestQueueAction/test_target_branch_vanished/git-1.json
  zfixtures/cassettes/TestQueueAction/test_target_branch_vanished/http.yaml
Due: tests

feat(datadog): add datadog-mergify plugin (#4996)
  datadog-wrapper.sh
  datadog/conf.d/mergify.yaml
  datadog/datadog_mergify-0.0.1-py3-none-any.whl
  dockerfiles/Dockerfile.common
Due: none

fix: add expiration on redis key (#4980)
  mergify_engine/pull_request_finder.py
Due: tests

fix: dashboard url (#5001)
  mergify_engine/branch_updater.py
  mergify_engine/squash_pull.py
Due: tests

fix(stream): ignore repositories returning 404 (#5005)
  mergify_engine/worker/stream.py
Due: tests

refactor(queue): use token from engine db to prepare draft PR (#5017)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

chore: better bot_account error message (#4997)
  mergify_engine/branch_updater.py
  mergify_engine/models/github_user.py
Due: tests

fix(datadog): wrong postgres configuration filename (#5000)
  dockerfiles/Dockerfile.common
Due: none
