Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

ci: fix create-linear-for-docs (#6731)
  .github/workflows/create-linear-for-docs.yaml
Due: none

fix(datadog): urldecode the username/password (#6771)
  datadog-wrapper.sh
Due: none

chore: bump datadog-agent version to 1:7.46.0-1
  datadog/agent-version.txt
  dockerfiles/Dockerfile.common
Due: none

fix(config): allow to move configuration (#6773)
  mergify_engine/engine/__init__.py
  mergify_engine/tests/functional/test_configuration.py
  zfixtures/cassettes/TestConfiguration/test_configuration_moved/config.json
  zfixtures/cassettes/TestConfiguration/test_configuration_moved/git-1.json
  zfixtures/cassettes/TestConfiguration/test_configuration_moved/http.yaml
  zfixtures/cassettes/TestConfiguration/test_configuration_moved_and_disabled/config.json
  zfixtures/cassettes/TestConfiguration/test_configuration_moved_and_disabled/git-1.json
  zfixtures/cassettes/TestConfiguration/test_configuration_moved_and_disabled/http.yaml
Due: tests

fix(unqueue): Allow to cancel waiting `queue` commands with `unqueue` (#6764)
  mergify_engine/actions/unqueue.py
  mergify_engine/engine/commands_runner.py
  mergify_engine/tests/functional/commands/test_unqueue.py
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_command_on_pr_waiting_for_queue_match/config.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_command_on_pr_waiting_for_queue_match/git-1.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_command_on_pr_waiting_for_queue_match/http.yaml
Due: tests

fix(react): typo on onpremise sudo endpoint (#6776)
  mergify_engine/web/front/react.py
Due: tests

feat(events): action merge model (#6761)
  mergify_engine/models/db_migration/versions/d64f676ac24e_event_model_action_merge.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

feat(events): action queue_enter model (#6765)
  mergify_engine/models/db_migration/versions/9f3f9052a5cd_event_action_queue_enter.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

ci(ghes-record): increase events timeout (#6788)
  .github/workflows/ci-record.yaml
Due: none

test(database): increase timeout of test (#6790)
  mergify_engine/tests/unit/test_database.py
Due: tests

chore: add why we don't do downgrades (#6793)
  mergify_engine/models/db_migration/script.py.mako
Due: tests

fix: changes to be compatible with types-redis 4.6.0.2 (#6577)
  mergify_engine/context.py
  mergify_engine/delayed_refresh.py
  mergify_engine/queue/merge_train/train.py
  mergify_engine/redis_utils/__init__.py
  mergify_engine/refresher.py
  mergify_engine/worker/stream.py
  mergify_engine/worker/stream_lua.py
  mergify_engine/worker_pusher.py
  poetry.lock
Due: tests

ci(re-record): use pgvector database (#6797)
  .github/workflows/ci-record.yaml
Due: none

fix(onpremise): download front feature list from saas (#6796)
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/web/front/proxy/saas.py
Due: tests

chore(db-manage): reuse engine helper (#6795)
  mergify_engine/models/manage.py
Due: tests

test: change the way we test migration with alembic (#6794)
  mergify_engine/models/db_migration/env.py
  mergify_engine/tests/unit/test_database.py
Due: tests

refactor: Add repository fk on wf job and wf run model (#6792)
  mergify_engine/ci/event_processing.py
  mergify_engine/filtered_github_types.py
  mergify_engine/github_types.py
  mergify_engine/models/db_migration/versions/47ea53b21c90_set_repository_fk_on_wf_run_and_wf_job.py
  mergify_engine/models/github_actions.py
Due: tests

revert: "refactor: Add repository fk on wf job and wf run model (#6792)" (#6809)
  mergify_engine/ci/event_processing.py
  mergify_engine/filtered_github_types.py
  mergify_engine/github_types.py
  mergify_engine/models/db_migration/versions/47ea53b21c90_set_repository_fk_on_wf_run_and_wf_job.py
  mergify_engine/models/github_actions.py
Due: tests

feat(events): action queue_merged model (#6772)
  mergify_engine/models/db_migration/versions/7995283d5459_event_action_queue_merged.py
  mergify_engine/models/events.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

feat(events): action queue_leave model (#6791)
  mergify_engine/models/db_migration/versions/732a1510ec1d_event_action_queue_leave.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

refactor: Add repository fk on wf job and wf run model (#6812)
  mergify_engine/ci/event_processing.py
  mergify_engine/filtered_github_types.py
  mergify_engine/github_types.py
  mergify_engine/models/db_migration/versions/47ea53b21c90_set_repository_fk_on_wf_run_and_wf_job.py
  mergify_engine/models/github_actions.py
Due: tests

fix: set nullable again on wf_job and wf_run (#6814)
  mergify_engine/ci/event_processing.py
  mergify_engine/models/db_migration/versions/c598a90bd5e4_set_nullable_again_on_wf_job_and_wf_run.py
  mergify_engine/models/github_actions.py
Due: tests

fix(events): add default values to metadata for sent EventQueueLeave (#6815)
  mergify_engine/queue/merge_train/train.py
Due: tests

chore(logging): revisit some logging levels (#6817)
  mergify_engine/actions/queue.py
  mergify_engine/actions/requeue.py
  mergify_engine/branch_updater.py
  mergify_engine/context.py
  mergify_engine/engine/__init__.py
  mergify_engine/engine/actions_runner.py
  mergify_engine/gitter.py
  mergify_engine/refresher.py
  mergify_engine/web/redis.py
  mergify_engine/worker/manager.py
Due: tests

feat(events): action models with no metadata (#6813)
  mergify_engine/models/db_migration/versions/5ec6e7b467ed_events_model_with_no_metadata.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

chore: sync Mergify configuration openapi spec file (#6826)
  docs/source/_extra/config/openapi.json
Due: docs

fix: Forgot to remove type hint None on relationship (#6834)
  mergify_engine/models/github_actions.py
Due: tests

refactor: rename GitHub Actions database enums (#6837)
  mergify_engine/ci/job_registries.py
  mergify_engine/models/db_migration/versions/9689f24dfc76_rename_github_actions_enums.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_event_processing.py
Due: tests

refactor: rename GitHub Actions types (#6836)
  mergify_engine/ci/event_processing.py
  mergify_engine/ci/job_registries.py
  mergify_engine/github_types.py
  mergify_engine/models/github_actions.py
Due: tests

feat: Add log embedding and log downloading for github action openai embedding (#6831)
  mergify_engine/config/__init__.py
  mergify_engine/log_embedder/__init__.py
  mergify_engine/log_embedder/github_action.py
  mergify_engine/log_embedder/openai_embedding.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/log_embedder/__init__.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  mergify_engine/tests/openai_embedding_dataset.py
  mergify_engine/tests/unit/log_embedder/__init__.py
  mergify_engine/tests/unit/log_embedder/test_openai.py
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading/http.yaml
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/http.yaml
Due: tests

feat(embedder): add module to clean CI logs (#6730)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/log_embedder/log_cleaner.py
  mergify_engine/log_embedder/utils.py
  mergify_engine/tests/unit/log_embedder/log_cleaner_input/mergify_engine_pep8_error_log.log
  mergify_engine/tests/unit/log_embedder/log_cleaner_output/mergify_engine_pep8_error_log.log
  mergify_engine/tests/unit/log_embedder/test_log_cleaner.py
  poetry.lock
  pyproject.toml
Due: tests

ci: ignore new semgrep rule (#6846)
  .github/workflows/changelog.yaml
  .github/workflows/ci-record.yaml
  .github/workflows/ci-target.yaml
  .github/workflows/ci.yaml
  .github/workflows/clifus.yaml
  .github/workflows/docker-label.yaml
  .github/workflows/docker-onpremise.yaml
  .github/workflows/docker-saas.yaml
  .github/workflows/docs-upload-gcp-prod.yaml
  .github/workflows/docs-upload-gcp-temp.yaml
  .github/workflows/linear.yaml
  .github/workflows/mergify-configuration-openapi-spec-sync.yml
  .github/workflows/security-scanner.yaml
Due: none

test: fix ruff 0.0.278 errors (#6860)
  mergify_engine/tests/unit/rules/test_merge.py
  mergify_engine/tests/unit/test_count_seats.py
Due: tests

fix(web): don't log CancelledError (#6868)
  mergify_engine/middlewares/logging.py
Due: tests

test(docker): exit on first import failure (#6878)
  .github/workflows/docker-saas.yaml
Due: none

chore(train_car): add more logging (#6882)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

fix(config): Require Mergify to be installed on extended repositories (#6805)
  docs/source/configuration.rst
  mergify_engine/context.py
  mergify_engine/github_events.py
  mergify_engine/rules/config/mergify.py
  mergify_engine/tests/functional/test_configuration.py
  mergify_engine/tests/unit/rules/test_rules.py
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_merge_ok/config.json
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_merge_ok/git-1.json
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_merge_ok/http.yaml
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_ok/config.json
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_ok/git-1.json
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_ok/http.yaml
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_mergify_enabled/config.json
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_mergify_enabled/git-1.json
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_mergify_enabled/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_outside_schedule/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_outside_schedule/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_outside_schedule/http.yaml
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_schedule/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_schedule/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_schedule/http.yaml
Due: tests, docs
