Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

docs(queue): add fallback partition and change some monorepo doc (#5807)
  docs/source/actions/queue.rst
Due: docs

feat(queue): add UnexpectedChanges support for monorepo (#5721)
  mergify_engine/actions/merge_base.py
  mergify_engine/context.py
  mergify_engine/queue/merge_train/train.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/rules/config/partition_rules.py
  mergify_engine/tests/functional/actions/test_queue_with_partition_rules.py
  mergify_engine/tests/unit/rules/test_rules.py
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_manual_force_push_on_base_branch_without_pr_and_no_fallback_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_manual_force_push_on_base_branch_without_pr_and_no_fallback_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_manual_force_push_on_base_branch_without_pr_and_no_fallback_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_manual_force_push_on_base_branch_without_pr_and_with_fallback_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_manual_force_push_on_base_branch_without_pr_and_with_fallback_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_manual_force_push_on_base_branch_without_pr_and_with_fallback_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_pr_manual_merge_with_no_fallback_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_pr_manual_merge_with_no_fallback_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_all_partitions_reset_when_pr_manual_merge_with_no_fallback_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_fallback_partition_reset_when_pr_manual_merge_dont_match_any_partitions/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_fallback_partition_reset_when_pr_manual_merge_dont_match_any_partitions/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_fallback_partition_reset_when_pr_manual_merge_dont_match_any_partitions/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_pr_manual_merge_have_reset_one_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_pr_manual_merge_have_reset_one_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_pr_manual_merge_have_reset_one_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_queued_merged_pr_with_partition_and_fallback_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_queued_merged_pr_with_partition_and_fallback_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_queued_merged_pr_with_partition_and_fallback_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_queued_merged_pr_with_partition_and_no_fallback_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_queued_merged_pr_with_partition_and_no_fallback_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_no_partition_reset_after_queued_merged_pr_with_partition_and_no_fallback_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_partition_reset_when_pr_manual_merge_matches_one_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_partition_reset_when_pr_manual_merge_matches_one_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_partition_reset_when_pr_manual_merge_matches_one_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_partition_reset_when_pr_manual_merge_matches_several_partitions/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_partition_reset_when_pr_manual_merge_matches_several_partitions/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_partition_reset_when_pr_manual_merge_matches_several_partitions/http.yaml
Due: tests

revert: "fix(comment): report empty message error with voluptuous (#4902)" (#5863)
  mergify_engine/actions/comment.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests

feat(actions): alert user when a conflict happened when backporting (#5779)
  mergify_engine/actions/copy.py
  mergify_engine/duplicate_pull.py
  mergify_engine/tests/functional/actions/test_backport.py
  mergify_engine/tests/functional/commands/test_backport.py
  zfixtures/cassettes/TestBackportAction/test_backport_conflicts/config.json
  zfixtures/cassettes/TestBackportAction/test_backport_conflicts/git-1.json
  zfixtures/cassettes/TestBackportAction/test_backport_conflicts/git-2.json
  zfixtures/cassettes/TestBackportAction/test_backport_conflicts/http.yaml
  zfixtures/cassettes/TestBackportAction/test_backport_ignore_conflicts/config.json
  zfixtures/cassettes/TestBackportAction/test_backport_ignore_conflicts/git-1.json
  zfixtures/cassettes/TestBackportAction/test_backport_ignore_conflicts/git-2.json
  zfixtures/cassettes/TestBackportAction/test_backport_ignore_conflicts/http.yaml
  zfixtures/cassettes/TestCommandBackport/test_command_backport_conflicts/config.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_conflicts/git-1.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_conflicts/git-2.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_conflicts/http.yaml
Due: tests

chore: remove unused internal API (#5870)
  mergify_engine/tests/unit/web/test_subscription.py
  mergify_engine/web/subscriptions.py
Due: tests

chore(deps): remove unused tryceratops (#5871)
  pyproject.toml
Due: none

test: Fix some broken record, part 4 (#5880)
  mergify_engine/tests/functional/actions/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_manual_merge/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_manual_merge/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_manual_merge/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_pr_priority_no_interrupt/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_pr_priority_no_interrupt/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_pr_priority_no_interrupt/http.yaml
Due: tests

ci(trivy): add secrets leakage detection in fixtures (#5885)
  .github/trivy-secret.yaml
  .github/trivy.yaml
  .github/workflows/ci.yaml
  .mergify.yml
Due: none

refactor: delete unused function (#5889)
  mergify_engine/clients/github.py
Due: tests

fix(queue): Handle another branch protection error case (#5887)
  mergify_engine/actions/queue.py
  mergify_engine/tests/unit/actions/test_queue.py
Due: tests

revert: "fix(queue): Handle another branch protection error case (#5887)" (#5905)
  mergify_engine/actions/queue.py
  mergify_engine/tests/unit/actions/test_queue.py
Due: tests

chore(web/partitions): Change simple quote for backquote for default partition name in docs (#5902)
  mergify_engine/web/api/partitions/index.py
Due: tests

chore(gitter): force the LANG to C.UTF-8 (#5925)
  mergify_engine/gitter.py
  mergify_engine/tests/unit/test_gitter.py
Due: tests

docs: set html_baseurl (#5869)
  docs/source/conf.py
Due: docs

test: Fix some broken record, part 5 (#5924)
  mergify_engine/context.py
  mergify_engine/tests/functional/commands/test_rebase.py
  mergify_engine/tests/functional/test_debug.py
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/config.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/http.yaml
  zfixtures/cassettes/TestCommandRebase/test_command_rebase_ok/config.json
  zfixtures/cassettes/TestCommandRebase/test_command_rebase_ok/git-1.json
  zfixtures/cassettes/TestCommandRebase/test_command_rebase_ok/git-2.json
  zfixtures/cassettes/TestCommandRebase/test_command_rebase_ok/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger/config.json
  zfixtures/cassettes/TestDebugger/test_debugger/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/config.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/http.yaml
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_schedule_condition_match/config.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_schedule_condition_match/git-1.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_schedule_condition_match/http.yaml
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_schedule_condition_match_but_eta_dont/config.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_schedule_condition_match_but_eta_dont/git-1.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_schedule_condition_match_but_eta_dont/http.yaml
  zfixtures/cassettes/TestStatisticsEndpoints/test_queue_checks_outcome_endpoint/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_queue_checks_outcome_endpoint/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_queue_checks_outcome_endpoint/http.yaml
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_queue_checks_outcome_with_partitions_endpoint/config.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_queue_checks_outcome_with_partitions_endpoint/git-1.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_queue_checks_outcome_with_partitions_endpoint/http.yaml
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_normal/config.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_normal/git-1.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_normal/http.yaml
Due: tests

fix(train_car): Fix TrainCar deserialize when `queue_branch_name` is missing (#5901)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

docs: Add beta tag to partition rules feature (#5930)
  docs/source/actions/queue.rst
Due: docs

refactor: leverage `|` instead of `typing.Union` (#5928)
  mergify_engine/actions/dismiss_reviews.py
  mergify_engine/eventlogs.py
  mergify_engine/queue/utils.py
  mergify_engine/rules/config/queue_rules.py
Due: tests

test: Fix some broken record, part 6 (#5935)
  mergify_engine/tests/functional/actions/test_copy.py
  mergify_engine/tests/functional/actions/test_edit.py
  mergify_engine/tests/functional/test_engine.py
  zfixtures/cassettes/CopyActionTestBase/test_copy_with_no_matching_branch/config.json
  zfixtures/cassettes/CopyActionTestBase/test_copy_with_no_matching_branch/git-1.json
  zfixtures/cassettes/CopyActionTestBase/test_copy_with_no_matching_branch/http.yaml
  zfixtures/cassettes/TestBackportAction/test_backport_merge_commit_regexes/config.json
  zfixtures/cassettes/TestBackportAction/test_backport_merge_commit_regexes/git-1.json
  zfixtures/cassettes/TestBackportAction/test_backport_merge_commit_regexes/git-2.json
  zfixtures/cassettes/TestBackportAction/test_backport_merge_commit_regexes/http.yaml
  zfixtures/cassettes/TestEditAction/test_draft_to_ready_for_review/config.json
  zfixtures/cassettes/TestEditAction/test_draft_to_ready_for_review/git-1.json
  zfixtures/cassettes/TestEditAction/test_draft_to_ready_for_review/http.yaml
  zfixtures/cassettes/TestEngineV2Scenario/test_merge_invalid_custom_msg/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_merge_invalid_custom_msg/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_merge_invalid_custom_msg/http.yaml
Due: tests

revert: "chore(deps): bump ddtrace from 1.12.6 to 1.13.0" (#5946)
  .github/dependabot.yml
  poetry.lock
Due: none

feat(front): cache subscription details (#5892)
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/web/front/proxy/saas.py
  mergify_engine/web/subscriptions.py
Due: tests

test: Skip error 404 when deleting branch protection if it's already removed (#5952)
  mergify_engine/tests/functional/base.py
Due: tests

fix(action): Define user value as optional in GitHubReview type (#5926)
  mergify_engine/actions/dismiss_reviews.py
  mergify_engine/actions/review.py
  mergify_engine/context.py
  mergify_engine/count_seats.py
  mergify_engine/github_types.py
  mergify_engine/signals.py
  mergify_engine/tests/functional/actions/test_dismiss_review.py
  mergify_engine/tests/functional/actions/test_review.py
Due: tests

chore(docker): image security scanning report (#5868)
  docker-security-scan.json
Due: none

chore: remove discountinued field (#5956)
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/web/front/proxy/saas.py
Due: tests

fix(check_run): Set details url to point on dashboard (#5971)
  mergify_engine/check_api.py
  mergify_engine/dashboard/__init__.py
  mergify_engine/engine/__init__.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/unit/test_dashboard.py
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/http.yaml
Due: tests

feat(stats): Add time_to_merge endpoint that has data of all partitions and queues (#5904)
  mergify_engine/tests/functional/api/test_statistics.py
  mergify_engine/web/api/statistics/time_to_merge.py
  releasenotes/notes/new-stats-endpoint-04a97a3ca7c832aa.yaml
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_normal/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_normal/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_normal/http.yaml
Due: tests

test: Add tests and framework for Train serialization and deserialization (#5890)
  mergify_engine/queue/merge_train/train.py
  mergify_engine/tests/unit/merge_train/deserialization_cassettes/train_with_cars.yaml
  mergify_engine/tests/unit/merge_train/deserialization_cassettes/train_with_cars_2.yaml
  mergify_engine/tests/unit/merge_train/deserialization_cassettes/train_with_waiting_pulls.yaml
  mergify_engine/tests/unit/merge_train/deserialization_cassettes/train_without_partition.yaml
  mergify_engine/tests/unit/merge_train/test_deserialization.py
Due: tests

fix(queue): Add warning for queue branch protection error case (#5970)
  mergify_engine/actions/queue.py
  mergify_engine/tests/unit/actions/test_queue.py
Due: tests

feat(stats): Add new queue_checks_outcome endpoint that includes all partitions and queues in the repo (#5927)
  mergify_engine/tests/functional/api/test_statistics.py
  mergify_engine/web/api/statistics/queue_checks_outcome.py
  mergify_engine/web/api/statistics/utils.py
  releasenotes/notes/new-queue-checks-outcome-endpoint-0fe987b8890b5cd3.yaml
  zfixtures/cassettes/TestStatisticsEndpoints/test_queue_checks_outcome_endpoint/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_queue_checks_outcome_endpoint/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_queue_checks_outcome_endpoint/http.yaml
Due: tests

ci(clifus): Add automatic updates for DD_MERGIFY_VERSION (#5985)
  .github/clifus.yml
  .github/get-latest-datadog-mergify-integration-version.py
  .github/workflows/clifus.yaml
  datadog/mergify-integration-version.txt
Due: none

feat(ci): comparison date range is optional (#5988)
  mergify_engine/ci/reports.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_reports.py
Due: tests

fix(summary): Do not displayed who merged the PR when there is no rules (#5990)
  mergify_engine/engine/actions_runner.py
  mergify_engine/tests/unit/engine/test_actions_runner.py
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/config.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/git-1.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/git-2.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/git-3.json
  zfixtures/cassettes/TestCommandBackport/test_command_backport_with_defaults/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_without_config/config.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/http.yaml
Due: tests

[create-pull-request] automated change
  docker-security-scan.json
Due: none

refactor: fix RUF010 (#6008)
  mergify_engine/debug.py
  mergify_engine/rules/conditions.py
  mergify_engine/rules/filter.py
  mergify_engine/rules/parser.py
Due: tests
