Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

[create-pull-request] automated change
  datadog/agent-version.txt
  dockerfiles/Dockerfile.common
Due: none

fix(tests): make HTTP requests ordering stable (#4196)
  mergify_engine/debug.py
  mergify_engine/tests/functional/test_attributes.py
  zfixtures/cassettes/TestDebugger/test_debugger/config.json
  zfixtures/cassettes/TestDebugger/test_debugger/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger/http.yaml
Due: tests

chore(docker): image security scanning report (#3910)
  docker-security-scan.json
Due: none

fix(tests): replace pytest monkeypatch by mock (#4200)
  mergify_engine/tests/unit/test_crypto.py
Due: tests

chore(tests): move github app bot fixtures into unit tests (#4100)
  mergify_engine/tests/conftest.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/front/test_configuration.py
  mergify_engine/tests/unit/test_github_events.py
  mergify_engine/tests/unit/test_gitter.py
  mergify_engine/tests/unit/test_web.py
Due: tests

refactor(queue): add brownout for deprecation of queue 'priority' attribute (#4128)
  mergify_engine/actions/queue.py
  mergify_engine/config.py
  mergify_engine/tests/functional/actions/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_priority_brownout/config.json
  zfixtures/cassettes/TestQueueAction/test_priority_brownout/git-1.json
  zfixtures/cassettes/TestQueueAction/test_priority_brownout/http.yaml
Due: tests

fix(rules): Schedule on single day (#4206)
  mergify_engine/date.py
  mergify_engine/tests/unit/test_date.py
Due: tests

refactor(rules): Make QueueRuleMergeConditions inherit from BaseRuleConditions (#4224)
  mergify_engine/rules/conditions.py
Due: tests

chore(worker): replace tenacity decorator by AsyncRetrying (#4226)
  mergify_engine/worker.py
Due: tests

refactor(api): split queues api (#4202)
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/web/api/queues.py
  mergify_engine/web/api/queues/__init__.py
  mergify_engine/web/api/queues/configuration.py
  mergify_engine/web/api/queues/details.py
  mergify_engine/web/api/queues/estimated_time_to_merge.py
  mergify_engine/web/api/queues/freeze.py
  mergify_engine/web/api/queues/index.py
  mergify_engine/web/api/queues/types.py
  mergify_engine/web/api/security.py
Due: tests

fix(queue): change some errors from ACTION_REQUIRED to FAILURE (#4212)
  mergify_engine/actions/merge_base.py
  mergify_engine/actions/squash.py
Due: tests

fix(logger): remove authorization header from logs (#4209)
  mergify_engine/middlewares/logging.py
  mergify_engine/tests/unit/web/test_middlewares.py
Due: tests

chore(docker): move monitoring and delay-refresher into shared worker (#4229)
  dockerfiles/Dockerfile.saas
Due: none

feat(seats-count): return seen_at via usage API (#4124)
  mergify_engine/count_seats.py
  mergify_engine/tests/functional/test_count_seats.py
  mergify_engine/tests/unit/test_count_seats.py
Due: tests

fix(queue): remove priority rules injected in merge conditions (#4245)
  mergify_engine/rules/__init__.py
  mergify_engine/tests/functional/actions/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_queue_priority_rules/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_priority_rules/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_priority_rules/http.yaml
Due: tests

perf(command): make event with command proceed immediatly (#4246)
  mergify_engine/github_events.py
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_rebase_ok/config.json
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_rebase_ok/git-1.json
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_rebase_ok/git-2.json
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_rebase_ok/http.yaml
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_update/config.json
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_update/git-1.json
  zfixtures/cassettes/TestBranchUpdatePublic/test_command_update/http.yaml
Due: tests

chore(http): add worker_id tag (#4249)
  mergify_engine/clients/github.py
Due: tests

perf(worker): batch delete convert message ids (#4247)
  mergify_engine/worker.py
Due: tests

perf(rules): never reparse condition string and reload filters (#4243)
  mergify_engine/actions/backport.py
  mergify_engine/actions/delete_head_branch.py
  mergify_engine/actions/merge.py
  mergify_engine/actions/queue.py
  mergify_engine/actions/rebase.py
  mergify_engine/actions/update.py
  mergify_engine/delayed_refresh.py
  mergify_engine/engine/actions_runner.py
  mergify_engine/queue/merge_train.py
  mergify_engine/rules/__init__.py
  mergify_engine/rules/checks_status.py
  mergify_engine/rules/conditions.py
  mergify_engine/tests/functional/api/test_simulator.py
  mergify_engine/tests/functional/test_configuration.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/tests/unit/test_summary.py
Due: tests

fix(front): change cookie name (#4271)
  mergify_engine/tests/unit/front/test_auth.py
  mergify_engine/web/front/root.py
Due: tests

fix(front-proxy): fix proxied url redirection (#4272)
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/web/front/proxy/saas.py
  mergify_engine/web/front/utils.py
Due: tests

fix(sudo): add middleware that inject sudo header (#4289)
  mergify_engine/middlewares/sudo.py
  mergify_engine/web/front/root.py
Due: tests

refactor(command): relies on comments API instead of events (#4158)
  mergify_engine/engine/__init__.py
  mergify_engine/engine/commands_runner.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/test_command.py
  zfixtures/cassettes/TestReviewAction/test_review_with_oauth_token/config.json
  zfixtures/cassettes/TestReviewAction/test_review_with_oauth_token/git-1.json
  zfixtures/cassettes/TestReviewAction/test_review_with_oauth_token/http.yaml
Due: tests

feat(queue): don't deprecate action configuration option (#4287)
  docs/source/actions/queue.rst
  mergify_engine/actions/queue.py
  mergify_engine/tests/unit/actions/test_queue.py
Due: tests, docs

fix(freeze): drop application_id/name from queue-freeze (#4308)
  mergify_engine/queue/freeze.py
  mergify_engine/tests/functional/api/test_queue_freeze.py
  mergify_engine/tests/unit/test_queue_freeze.py
  mergify_engine/web/api/queues/freeze.py
Due: tests

[create-pull-request] automated change
  .github/actions/clifus-setup/action.yml
  .github/workflows/ci-record.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs-upload-gcp-prod.yaml
  .github/workflows/releaser.yaml
  runtime.txt
Due: none

refactor: Rename `PullRequestRules.get_pull_request_rule` to `get_pull_request_rules_evaluator` (#4325)
  mergify_engine/debug.py
  mergify_engine/engine/actions_runner.py
  mergify_engine/rules/config/pull_request_rules.py
  mergify_engine/tests/unit/actions/test_queue.py
  mergify_engine/tests/unit/engine/test_actions_runner.py
  mergify_engine/tests/unit/rules/test_priority_rules.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/web/api/simulator.py
Due: tests

fix(backport/copy): ensure we always report the cherry-pick error (#4332)
  mergify_engine/context.py
  mergify_engine/duplicate_pull.py
  mergify_engine/tests/unit/test_context.py
Due: tests

feat(queue): allow merge_conditions to be unset (#4131)
  docs/source/actions/queue.rst
  mergify_engine/rules/config/queue_rules.py
  mergify_engine/tests/unit/rules/config/__init__.py
  mergify_engine/tests/unit/rules/config/test_queue_rules.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests, docs

fix(web/front): handle when no repositories are available (#4334)
  mergify_engine/web/front/auth.py
Due: tests

chore(tests): make worker tests shutdown faster (#4337)
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/unit/test_worker.py
Due: tests

refactor: Remove all `current-*` time attributes from conditions (#4099)
  docs/source/conditions.rst
  docs/source/configuration.rst
  mergify_engine/config.py
  mergify_engine/constants.py
  mergify_engine/context.py
  mergify_engine/date.py
  mergify_engine/delayed_refresh.py
  mergify_engine/rules/checks_status.py
  mergify_engine/rules/conditions.py
  mergify_engine/rules/filter.py
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_filter.py
  mergify_engine/tests/unit/rules/test_get_rule_checks_status.py
  mergify_engine/tests/unit/rules/test_parser.py
  mergify_engine/tests/unit/test_date.py
  mergify_engine/tests/unit/test_summary.py
  zfixtures/cassettes/TestAttributes/test_time_attribute/config.json
  zfixtures/cassettes/TestAttributes/test_time_attribute/git-1.json
  zfixtures/cassettes/TestAttributes/test_time_attribute/http.yaml
  zfixtures/cassettes/TestAttributes/test_time_attribute_deprecation/config.json
  zfixtures/cassettes/TestAttributes/test_time_attribute_deprecation/git-1.json
  zfixtures/cassettes/TestAttributes/test_time_attribute_deprecation/http.yaml
Due: tests, docs

fix(queue): deprecated default rebase_fallback (#4360)
  mergify_engine/actions/queue.py
Due: tests

fix(merge): deprecated default rebase_fallback (#4362)
  mergify_engine/actions/merge.py
Due: tests

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
