Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

fix(datadog): typo in SQL query (#7627)
  datadog/conf.d/postgres.yaml
Due: none

chore: sync Mergify configuration openapi spec file
  docs/source/_extra/config/openapi.json
Due: docs

fix(tests): set global with monkeypatch (#7626)
  mergify_engine/tests/unit/log_embedder/test_service.py
Due: tests

test(log-embedder): test embed logs service on various data (#7547)
  mergify_engine/tests/db_populator/__init__.py
  mergify_engine/tests/db_populator/workflow_job.py
  mergify_engine/tests/unit/log_embedder/test_service.py
Due: tests

fix(log-embedded): improve zip file finder (#7637)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/tests/unit/log_embedder/gha-ci-logs-examples/front (formatcheck)/4_Run_a_cmd.txt
  mergify_engine/tests/unit/log_embedder/gha-ci-logs-examples/job_toto/1_toto.txt
  mergify_engine/tests/unit/log_embedder/gha-ci-logs.zip
  mergify_engine/tests/unit/log_embedder/test_service.py
Due: tests

chore(datadog): remove useless rows from workflow_jobs monitoring (#7636)
  datadog/conf.d/postgres.yaml
Due: none

chore(icons): update check-runs icons (#7631)
  assets/circle-cancelled-grey-16.png
  assets/circle-skipped-grey-16.png
  mergify_engine/queue/merge_train/train_car.py
Due: tests

refactor(queue): add unqueue reason into "removed from train" log (#7621)
  mergify_engine/queue/merge_train/train.py
Due: tests

fix(worker): stop dedicated worker spawner first (#7646)
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/dedicated_workers_spawner_service.py
  mergify_engine/worker/task.py
Due: tests

fix(log-embedder): handle when job timeout (#7638)
  mergify_engine/github_types.py
  mergify_engine/models/github_actions.py
Due: tests

feat(log-embedder): Add embed log error title (#7557)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/tests/unit/log_embedder/test_service.py
Due: tests

chore: add pytest-flakefinder (#7641)
  poetry.lock
  pyproject.toml
Due: none

refactor(icons): update icons url (#7659)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

fix(log-embedder): retries slowly some errors (#7601)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/models/db_migration/versions/5a96d16ceee3_add_embedding_retries_columns.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/log_embedder/test_service.py
Due: tests

chore(docker): image security scanning report (#7531)
  docker-security-scan.json
Due: none

fix(redis): set health_check_interval=10 (#7664)
  mergify_engine/redis_utils.py
Due: tests

fix(log-embedded): continue when we failed to embed log (#7654)
  mergify_engine/log_embedder/github_action.py
Due: tests

fix(tests): test_app_event_forward flakyness (#7661)
  mergify_engine/tests/unit/test_forwards.py
Due: tests

chore(sqlalchemy): remove mypy plugin (#7679)
  mergify_engine/models/__init__.py
  pyproject.toml
Due: tests

chore(datadog): don't load pg and redis for monitoring (#7683)
  datadog-wrapper.sh
Due: none

chore: add a index for log embedder SELECT (#7658)
  mergify_engine/models/db_migration/versions/8a897f49bb06_add_an_embedding_select_index.py
  mergify_engine/models/github_actions.py
Due: tests

fix(log-embedder): don't use as_dict() for logging (#7689)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/models/github_actions.py
Due: tests

fix(log-embedded): ensure log_embedded is not too big (#7674)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/log_embedder/openai_api.py
  mergify_engine/tests/unit/log_embedder/test_github_actions.py
  mergify_engine/tests/unit/log_embedder/test_openai.py
Due: tests

refactor(eventlogs): add deprecation warning to openapi (#7688)
  mergify_engine/web/api/eventlogs.py
Due: tests

fix: typing error (#7703)
  mergify_engine/models/github_actions.py
Due: tests

refactor: remove old TrainCarOutcome value (#7706)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

chore(docker): image security scanning report This is the docker image security scanning report
  docker-security-scan.json
Due: none

test(run_full_engine): make it no flaky (#7713)
  mergify_engine/delayed_refresh.py
  mergify_engine/tests/functional/base.py
Due: tests

fix(tests): ensure we don't load random datasets (#7690)
  mergify_engine/tests/db_populator/__init__.py
  mergify_engine/tests/unit/log_embedder/test_service.py
  mergify_engine/tests/unit/test_db_populator.py
Due: tests

refactor: improve retry of all errors (#7721)
  mergify_engine/exceptions.py
  mergify_engine/log_embedder/github_action.py
Due: tests

chore(DbPopulator): Improve populated_db fixture and remove duplicate test (#7727)
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/test_db_populator.py
Due: tests

feat(queue): add unqueue reasons for conflicts (#7665)
  mergify_engine/models/db_migration/versions/38f71c20a9da_add_unqueue_reasons.py
  mergify_engine/models/enumerations.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/queue/merge_train/train_car_state.py
  mergify_engine/queue/statistics.py
  mergify_engine/queue/utils.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/web/api/statistics/types.py
  releasenotes/notes/new-unqueue-reasons-for-conflict-bbb7f83da952b1ef.yaml
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/config.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/git-2.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/http.yaml
  zfixtures/cassettes/TestQueueAction/test_base_branch_conflicts_check_run_message_draft/config.json
  zfixtures/cassettes/TestQueueAction/test_base_branch_conflicts_check_run_message_draft/git-1.json
  zfixtures/cassettes/TestQueueAction/test_base_branch_conflicts_check_run_message_draft/http.yaml
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/config.json
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/git-1.json
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/http.yaml
  zfixtures/cassettes/TestQueueAction/test_conflicts_with_pull_ahead/config.json
  zfixtures/cassettes/TestQueueAction/test_conflicts_with_pull_ahead/git-1.json
  zfixtures/cassettes/TestQueueAction/test_conflicts_with_pull_ahead/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/http.yaml
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_with_schedule/config.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_with_schedule/git-1.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_with_schedule/http.yaml
Due: tests

refactor(train): remove unused arg (#7741)
  mergify_engine/queue/merge_train/train.py
Due: tests

chore(mergify): fix feature requirements (#7743)
  .mergify.yml
Due: none

fix(tests): rerecording of test_extended_repo_does_not_have_mergify_enabled (#7746)
  mergify_engine/tests/functional/test_configuration.py
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_mergify_enabled/config.json
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_mergify_enabled/git-1.json
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_mergify_enabled/http.yaml
Due: tests
