Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

chore(db): remove useless db sequence (#5711)
  db_migration/versions/298d2a2d31b7_drop_github_user_sequence.py
  mergify_engine/models/github_user.py
Due: tests

chore: Unnecessary list comprehension (#5718)
  mergify_engine/rules/config/partition_rules.py
Due: tests

chore: remvove useless console script (#5710)
  .github/workflows/docker-saas.yaml
  poe.toml
  pyproject.toml
Due: none

chore: bump datadog-agent version to 1:7.43.2-1
  datadog/agent-version.txt
  dockerfiles/Dockerfile.common
Due: none

test: Split some `queue` action tests in another file (#5716)
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_queue_train_api_calls.py
Due: tests

chore(application): use db first (#5725)
  mergify_engine/web/api/security.py
Due: tests

ci: rename workflow yml -> yaml (#5732)
  .github/workflows/linear.yaml
  .github/workflows/security-scanner.yaml
Due: none

chore(application): drop legacy system (#5731)
  mergify_engine/dashboard/application.py
  mergify_engine/tests/functional/api/test_application.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/unit/front/test_applications.py
  mergify_engine/tests/unit/test_applications.py
  mergify_engine/web/api/applications.py
  mergify_engine/web/api/security.py
  mergify_engine/web/subscriptions.py
Due: tests

test: Rename `create_conflicting_prs` function to be more accurate about its utility (#5742)
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_engine.py
Due: tests

feat(ci): add repository dimension to API (#5714)
  mergify_engine/ci/reports.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/web/api/ci/index.py
Due: tests

chore: improve test_migration test (#5713)
  mergify_engine/tests/unit/test_database.py
Due: tests

feat(ci): choose comparison date range (#5717)
  mergify_engine/ci/reports.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/web/api/ci/index.py
  zfixtures/cassettes/TestCIApi/test_report/config.json
  zfixtures/cassettes/TestCIApi/test_report/git-1.json
  zfixtures/cassettes/TestCIApi/test_report/http.yaml
Due: tests

fix(queue): Fix queue check run message when PR is reembarked after unmatching rules (#5720)
  mergify_engine/actions/queue.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/commands/test_unqueue.py
  zfixtures/cassettes/TestEventLogsAction/test_freeze_eventlogs/config.json
  zfixtures/cassettes/TestEventLogsAction/test_freeze_eventlogs/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_freeze_eventlogs/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_with_two_pull_request_rules_that_match_then_unmatch/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_two_pull_request_rules_that_match_then_unmatch/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_with_two_pull_request_rules_that_match_then_unmatch/http.yaml
  zfixtures/cassettes/TestQueueAction/test_train_reset_after_unexpected_base_branch_change_while_merging_batch/config.json
  zfixtures/cassettes/TestQueueAction/test_train_reset_after_unexpected_base_branch_change_while_merging_batch/git-1.json
  zfixtures/cassettes/TestQueueAction/test_train_reset_after_unexpected_base_branch_change_while_merging_batch/http.yaml
  zfixtures/cassettes/TestQueueAction/test_unqueue_then_requeue_not_in_first_place_check_run/config.json
  zfixtures/cassettes/TestQueueAction/test_unqueue_then_requeue_not_in_first_place_check_run/git-1.json
  zfixtures/cassettes/TestQueueAction/test_unqueue_then_requeue_not_in_first_place_check_run/http.yaml
  zfixtures/cassettes/TestQueueFreeze/test_queue_freeze_priority_with_empty_frozen_default_queue/config.json
  zfixtures/cassettes/TestQueueFreeze/test_queue_freeze_priority_with_empty_frozen_default_queue/git-1.json
  zfixtures/cassettes/TestQueueFreeze/test_queue_freeze_priority_with_empty_frozen_default_queue/http.yaml
  zfixtures/cassettes/TestQueueFreeze/test_queue_freeze_with_pr_just_about_to_merge/config.json
  zfixtures/cassettes/TestQueueFreeze/test_queue_freeze_with_pr_just_about_to_merge/git-1.json
  zfixtures/cassettes/TestQueueFreeze/test_queue_freeze_with_pr_just_about_to_merge/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_pr_queued_in_two_partitions_need_to_wait_for_other_partition_before_merge/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_pr_queued_in_two_partitions_need_to_wait_for_other_partition_before_merge/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_pr_queued_in_two_partitions_need_to_wait_for_other_partition_before_merge/http.yaml
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_freeze/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_freeze/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_freeze/http.yaml
  zfixtures/cassettes/TestTrainApiCalls/test_handle_merge_error/config.json
  zfixtures/cassettes/TestTrainApiCalls/test_handle_merge_error/git-1.json
  zfixtures/cassettes/TestTrainApiCalls/test_handle_merge_error/http.yaml
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue/config.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue/git-1.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue/http.yaml
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_no_partitions/config.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_no_partitions/git-1.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_no_partitions/http.yaml
Due: tests

test: Fix flaky `test_accuracy_measure` test (#5755)
  mergify_engine/tests/functional/test_statistics.py
Due: tests

fix(ci-optimizer): make TESTING_DEV_PERSONAL_TOKEN optional (#5760)
  mergify_engine/cli.py
  mergify_engine/config/__init__.py
Due: tests

refactor(stats): Split `web/api/statistics.py` file (#5768)
  mergify_engine/tests/unit/test_statistics.py
  mergify_engine/web/api/queues/estimated_time_to_merge.py
  mergify_engine/web/api/queues/index.py
  mergify_engine/web/api/statistics.py
  mergify_engine/web/api/statistics/__init__.py
  mergify_engine/web/api/statistics/checks_duration.py
  mergify_engine/web/api/statistics/queue_checks_outcome.py
  mergify_engine/web/api/statistics/time_to_merge.py
  mergify_engine/web/api/statistics/types.py
  mergify_engine/web/api/statistics/utils.py
Due: tests

fix(queue): Change message when creating draft pr with base branch conflicts (#5753)
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/base.py
  zfixtures/cassettes/TestQueueAction/test_base_branch_conflicts_check_run_message_draft/config.json
  zfixtures/cassettes/TestQueueAction/test_base_branch_conflicts_check_run_message_draft/git-1.json
  zfixtures/cassettes/TestQueueAction/test_base_branch_conflicts_check_run_message_draft/http.yaml
Due: tests

feat(ci): create service worker (#5572)
  db_migration/versions/7a5673ee5829_create_github_repository_table.py
  mergify_engine/ci/dump.py
  mergify_engine/cli.py
  mergify_engine/models/__init__.py
  mergify_engine/models/github_repository.py
  mergify_engine/models/manage.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/unit/ci/test_dump.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/ci_dump_service.py
  mergify_engine/worker/manager.py
  zfixtures/cassettes/TestCommandsRestrictions/test_false_user_commands_restrictions/config.json
  zfixtures/cassettes/TestCommandsRestrictions/test_false_user_commands_restrictions/git-1.json
  zfixtures/cassettes/TestCommandsRestrictions/test_false_user_commands_restrictions/http.yaml
Due: tests

fix(conditions): attribute name should be assignees (#5652)
  docs/source/conditions.rst
  mergify_engine/context.py
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/unit/rules/test_parser.py
Due: tests, docs

refactor(ci): rename CategoryReport (#5780)
  mergify_engine/ci/reports.py
  mergify_engine/cli.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/web/api/ci/index.py
Due: tests

test: fix f-string (#5792)
  mergify_engine/tests/functional/api/test_ci.py
  zfixtures/cassettes/TestCIApi/test_report/config.json
  zfixtures/cassettes/TestCIApi/test_report/git-1.json
  zfixtures/cassettes/TestCIApi/test_report/http.yaml
Due: tests

refactor(merge_train): Change default partition name from `None` to `"__default__"` (#5775)
  mergify_engine/actions/queue.py
  mergify_engine/debug.py
  mergify_engine/queue/merge_train/__init__.py
  mergify_engine/queue/merge_train/convoy.py
  mergify_engine/queue/merge_train/train.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/queue/merge_train/types.py
  mergify_engine/queue/statistics.py
  mergify_engine/rules/config/partition_rules.py
  mergify_engine/signals.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_queue_with_partition_rules.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/functional/api/test_partitions.py
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/functional/test_statistics.py
  mergify_engine/tests/unit/merge_train/conftest.py
  mergify_engine/tests/unit/merge_train/test_train.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/tests/unit/test_statistics.py
  mergify_engine/web/api/partitions/index.py
  mergify_engine/web/api/queues/details.py
  mergify_engine/web/api/queues/index.py
  mergify_engine/web/api/queues/new_details.py
  mergify_engine/web/api/statistics/checks_duration.py
  mergify_engine/web/api/statistics/queue_checks_outcome.py
  mergify_engine/web/api/statistics/time_to_merge.py
  mergify_engine/web/api/statistics/utils.py
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_without_partitions/config.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_without_partitions/git-1.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_without_partitions/http.yaml
Due: tests

fix(ci-optimizer): enable ci-dump in production (#5777)
  dockerfiles/Dockerfile.saas
Due: none

chore: Fix some RUF* type checks (#5801)
  mergify_engine/clients/github.py
  mergify_engine/context.py
  mergify_engine/exceptions.py
Due: tests

chore: move log after tracer initialization (#5805)
  mergify_engine/ci/dump.py
Due: tests

docs(ci): CI Optimizer endpoint (#5804)
  mergify_engine/web/api/ci/index.py
Due: tests

chore(ci): more logs (#5817)
  mergify_engine/ci/job_registries.py
Due: tests

chore: bump datadog-agent version to 1:7.44.0-1
  datadog/agent-version.txt
  dockerfiles/Dockerfile.common
Due: none

feat(ci): new repository endpoint (#5803)
  mergify_engine/ci/reports.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/web/api/ci/index.py
  zfixtures/cassettes/TestCIApi/test_repository_report/config.json
  zfixtures/cassettes/TestCIApi/test_repository_report/git-1.json
  zfixtures/cassettes/TestCIApi/test_repository_report/http.yaml
Due: tests

docs: Change premium plan tag to essential plan tag for all `bot_account` (#5819)
  docs/source/actions/backport.rst
  docs/source/actions/comment.rst
  docs/source/actions/copy.rst
  docs/source/actions/merge.rst
  docs/source/actions/queue.rst
  docs/source/actions/rebase.rst
  docs/source/actions/request_reviews.rst
  docs/source/actions/review.rst
  docs/source/actions/squash.rst
  docs/source/actions/update.rst
Due: docs

fix(web/queues): Add missing `summary` property in new queue details endpoint (#5837)
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/web/api/queues/new_details.py
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_multiple_partitions/config.json
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_multiple_partitions/git-1.json
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_multiple_partitions/http.yaml
Due: tests

fix(actions): report Error to user for failed request_review (#5831)
  mergify_engine/actions/request_reviews.py
  mergify_engine/tests/functional/actions/test_request_reviews.py
  zfixtures/cassettes/TestRequestReviewsAction/test_request_reviews_unknown_reviewer/config.json
  zfixtures/cassettes/TestRequestReviewsAction/test_request_reviews_unknown_reviewer/git-1.json
  zfixtures/cassettes/TestRequestReviewsAction/test_request_reviews_unknown_reviewer/http.yaml
Due: tests

ci: Fix docker image security scanner (#5854)
  .github/workflows/security-scanner.yaml
Due: none

test: Fix some broken record, part 2 (#5851)
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/functional/test_branch_protection.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/functional/test_engine.py
  zfixtures/cassettes/TestAttributes/test_jit_schedule_on_queue_rules/config.json
  zfixtures/cassettes/TestAttributes/test_jit_schedule_on_queue_rules/git-1.json
  zfixtures/cassettes/TestAttributes/test_jit_schedule_on_queue_rules/http.yaml
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/config.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/http.yaml
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_ok/config.json
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_ok/git-1.json
  zfixtures/cassettes/TestConfiguration/test_extend_config_file_ok/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger/config.json
  zfixtures/cassettes/TestDebugger/test_debugger/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/config.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/http.yaml
  zfixtures/cassettes/TestEngineV2Scenario/test_merge_branch_protection_ci/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_merge_branch_protection_ci/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_merge_branch_protection_ci/http.yaml
Due: tests

test: Add possibility to use "merged" in `wait_for_pull_request` (#5852)
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_attributes.py
Due: tests

fix(train): Skip batch_max_wait_time to check next batch in some case (#5818)
  mergify_engine/queue/merge_train/train.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/actions/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/config.json
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/git-1.json
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/http.yaml
Due: tests

fix(convoy): Fix train loading when both old and new train redis key are present (#5810)
  mergify_engine/queue/merge_train/convoy.py
  mergify_engine/queue/merge_train/train.py
  mergify_engine/tests/unit/merge_train/test_train.py
Due: tests
