Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

feat: add tenacity retry on integrity error (#7315)
  mergify_engine/ci/event_processing.py
  mergify_engine/context.py
  mergify_engine/database.py
  mergify_engine/events_db.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/test_database.py
Due: tests

chore(console_scripts): don't use __init__.py (#7331)
  mergify_engine/console_scripts/account_suspend.py
  mergify_engine/console_scripts/admin_cli.py
  mergify_engine/console_scripts/debug.py
  mergify_engine/console_scripts/merge_queue.py
  mergify_engine/console_scripts/redis_dump.py
  mergify_engine/console_scripts/refresher.py
  mergify_engine/console_scripts/stream.py
  mergify_engine/console_scripts/subscription.py
  mergify_engine/tests/functional/console_scripts/test_clear_subscription_cache.py
  mergify_engine/tests/functional/console_scripts/test_dump_redis_keys.py
  mergify_engine/tests/functional/console_scripts/test_merge_queue.py
  mergify_engine/tests/functional/console_scripts/test_refresher.py
  mergify_engine/tests/unit/console_scripts/test_admin.py
  mergify_engine/tests/unit/console_scripts/test_stream.py
  pyproject.toml
Due: tests

feat(requeue): automatically reembark pull request with requeue command and no queue in pull_request_rules (#7319)
  docs/source/commands.rst
  mergify_engine/actions/__init__.py
  mergify_engine/actions/requeue.py
  mergify_engine/engine/commands_runner.py
  mergify_engine/tests/functional/commands/test_requeue.py
  mergify_engine/tests/unit/test_command.py
  releasenotes/notes/requeue-command-improvement-04d76bad29166533.yaml
  zfixtures/cassettes/TestRequeueCommand/test_requeue/config.json
  zfixtures/cassettes/TestRequeueCommand/test_requeue/git-1.json
  zfixtures/cassettes/TestRequeueCommand/test_requeue/http.yaml
Due: tests, docs

chore(docker): image security scanning report (#7282)
  docker-security-scan.json
Due: none

ci(create-linear-docs): fix stateId (#7372)
  .github/workflows/create-linear-for-docs.yaml
Due: none

chore: Save steps and failed_step on workflow_job (#7367)
  mergify_engine/filtered_github_types.py
  mergify_engine/github_types.py
  mergify_engine/models/db_migration/versions/c20ce2fbc65c_add_steps_and_failed_step_on_workflow_.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_event_processing.py
  mergify_engine/tests/unit/events/workflow_job.completed_failure.json
Due: tests

chore: add failed_step_name too on workflowjob (#7374)
  mergify_engine/models/db_migration/versions/8091f931f1c1_add_failed_step_name_on_workflowjob.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_event_processing.py
Due: tests

chore(cli): move mergify-api-*-openapi-spec (#7225)
  mergify_engine/console_scripts/admin_cli.py
  mergify_engine/console_scripts/devtools_cli.py
  mergify_engine/console_scripts/openapi_spec_generator.py
  mergify_engine/tests/unit/console_scripts/test_generate_openapi_spec.py
  mergify_engine/web/api/root.py
  mergify_engine/web/root.py
  pyproject.toml
  tools/build-docs.sh
Due: tests

refactor(subscription): use datetime.timedelta (#7389)
  mergify_engine/subscription.py
Due: tests

feat(actions): add the action github_actions (#7290)
  docs/source/actions/github_actions.rst
  docs/source/actions/index.rst
  docs/source/spelling_wordlist.txt
  mergify_engine/actions/github_actions.py
  mergify_engine/context.py
  mergify_engine/github_types.py
  mergify_engine/tests/functional/actions/test_github_actions.py
  mergify_engine/tests/unit/actions/test_github_actions.py
  pyproject.toml
  releasenotes/notes/action-dispatch-github-actions-2d735133052f5208.yaml
  zfixtures/cassettes/GhaActionTestBase/test_gha_dispatch_forbidden/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_dispatch_forbidden/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_dispatch_forbidden/http.yaml
  zfixtures/cassettes/GhaActionTestBase/test_gha_multiple_workflows_dispatches_containing_error/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_multiple_workflows_dispatches_containing_error/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_multiple_workflows_dispatches_containing_error/http.yaml
  zfixtures/cassettes/GhaActionTestBase/test_gha_required_inputs_not_provided/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_required_inputs_not_provided/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_required_inputs_not_provided/http.yaml
  zfixtures/cassettes/GhaActionTestBase/test_gha_success/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_success/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_success/http.yaml
  zfixtures/cassettes/GhaActionTestBase/test_gha_unknown_workflow/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_unknown_workflow/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_unknown_workflow/http.yaml
  zfixtures/cassettes/GhaActionTestBase/test_gha_workflow_no_dispatch/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_workflow_no_dispatch/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_workflow_no_dispatch/http.yaml
Due: tests, docs

chore(docker): image security scanning report (#7375)
  docker-security-scan.json
Due: none

fix(rules): Fix queue conditions evaluation on QueuePullRequest (#7384)
  mergify_engine/rules/config/queue_rules.py
  mergify_engine/tests/unit/rules/config/test_queue_rules.py
Due: tests

test: Fix test record of `test_strict_status_check_with_rebase_update_method_and_no_bot_account` (#7409)
  mergify_engine/tests/functional/test_branch_protection.py
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/config.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/git-2.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/http.yaml
Due: tests

test: fix ETA assertion (#7413)
  mergify_engine/tests/functional/api/test_partitions.py
Due: tests

feat: Add DbPopulator loader and populated_db fixture (#7362)
  mergify_engine/tests/conftest.py
  mergify_engine/tests/db_populator/README.md
  mergify_engine/tests/db_populator/__init__.py
  mergify_engine/tests/db_populator/account_and_repo.py
  mergify_engine/tests/db_populator/colliding_repo_name.py
  mergify_engine/tests/db_populator/one_account_and_one_repo.py
  mergify_engine/tests/unit/test_db_populator.py
  pyproject.toml
Due: tests

chore(deps-dev): bump pluggy from 1.2.0 to 1.3.0 (#7422)
  mergify_engine/tests/conftest.py
  poetry.lock
Due: tests

feat(events): add main endpoint with events in db (#7364)
  mergify_engine/eventlogs.py
  mergify_engine/models/__init__.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/api/test_events.py
  mergify_engine/tests/unit/test_events_db.py
  mergify_engine/web/api/events.py
  mergify_engine/web/api/root.py
  releasenotes/notes/new-event-logs-api-ab48fa47a3fff817.yaml
Due: tests

revert: "feat(events): add main endpoint with events in db (#7364)" (#7433)
  mergify_engine/eventlogs.py
  mergify_engine/models/__init__.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/api/test_events.py
  mergify_engine/tests/unit/test_events_db.py
  mergify_engine/web/api/events.py
  mergify_engine/web/api/root.py
  releasenotes/notes/new-event-logs-api-ab48fa47a3fff817.yaml
Due: tests

chore(docker): image security scanning report (#7396)
  docker-security-scan.json
Due: none

fix(subscription): don't slow down engine when Shadow Office is down (#7388)
  mergify_engine/subscription.py
  mergify_engine/tests/unit/test_engine.py
  mergify_engine/tests/unit/test_subscription.py
  mergify_engine/tests/unit/web/test_subscription.py
Due: tests

fix(date): Add custom `__repr__` method for UncertainDatePart (#7440)
  mergify_engine/date.py
Due: tests

fix(queue): remove queues= from url on failure (#7443)
  mergify_engine/tests/functional/test_summary.py
  zfixtures/cassettes/TestQueueCISummary/test_pr_embarked_check_runs_statuses_ci_summary/config.json
  zfixtures/cassettes/TestQueueCISummary/test_pr_embarked_check_runs_statuses_ci_summary/git-1.json
  zfixtures/cassettes/TestQueueCISummary/test_pr_embarked_check_runs_statuses_ci_summary/http.yaml
Due: tests

chore(cli): add missing debug sub command (#7441)
  mergify_engine/console_scripts/admin_cli.py
Due: tests

test: Add retry on flaky test when comparing DateTimeRange (#7444)
  mergify_engine/tests/unit/rules/test_parser.py
Due: tests

feat(events): add main events endpoint with fix (#7442)
  mergify_engine/eventlogs.py
  mergify_engine/models/__init__.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/api/test_events.py
  mergify_engine/tests/unit/test_events_db.py
  mergify_engine/web/api/events.py
  mergify_engine/web/api/root.py
  releasenotes/notes/new-event-logs-api-ab48fa47a3fff817.yaml
Due: tests

test: Change retry method of flaky parametrized test (#7450)
  mergify_engine/tests/unit/rules/test_parser.py
Due: tests

refactor: embed just failed step logs and save embedded part of it (#7397)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/models/db_migration/versions/17e065718bf5_add_embeded_log_in_workflow_job.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  mergify_engine/tests/unit/log_embedder/test_github_actions.py
  mergify_engine/tests/unit/log_embedder/test_service.py
  mergify_engine/tests/unit/test_utils.py
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading/http.yaml
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/http.yaml
Due: tests

refactor(date): Replace `UncertainDatePart` attributes of `UncertainDate` with `None` (#7455)
  mergify_engine/date.py
  mergify_engine/tests/unit/rules/test_parser.py
Due: tests

fix(date): Fix comparison of `UncertainDate.tzinfo` objects between `zoneinfo` cache clears (#7462)
  mergify_engine/date.py
  mergify_engine/tests/unit/rules/test_parser.py
Due: tests

chore(docker): image security scanning report This is the docker image security scanning report
  docker-security-scan.json
Due: none

fix(rules): Use `apply_configure_filter` on queue_conditions before their evaluations (#7423)
  mergify_engine/rules/__init__.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests

refactor: Rename openai_embedding to openai_api (#7459)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/log_embedder/openai_api.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  mergify_engine/tests/unit/log_embedder/test_github_actions.py
  mergify_engine/tests/unit/log_embedder/test_openai.py
  mergify_engine/tests/unit/log_embedder/test_service.py
Due: tests

fix(debug): calling correct variable (#7468)
  mergify_engine/debug.py
Due: tests

refactor: rename Dashboard to Shadow Office (#7365)
  fake.env
  mergify_engine/clients/shadow_office.py
  mergify_engine/config/__init__.py
  mergify_engine/subscription.py
  mergify_engine/tests/functional/api/test_application.py
  mergify_engine/tests/functional/api/test_auth.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/console_scripts/test_clear_subscription_cache.py
  mergify_engine/tests/functional/console_scripts/test_merge_queue.py
  mergify_engine/tests/functional/console_scripts/test_refresher.py
  mergify_engine/tests/functional/test_fixtures.py
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/tests/unit/test_count_seats.py
  mergify_engine/tests/unit/test_settings.py
  mergify_engine/tests/unit/test_subscription.py
  mergify_engine/tests/unit/web/test_subscription.py
  mergify_engine/web/auth.py
  mergify_engine/web/front/admin.py
  mergify_engine/web/front/auth.py
  mergify_engine/web/front/proxy/saas.py
  mergify_engine/web/subscriptions.py
Due: tests

docs: add valid icon (#7483)
  docs/source/actions/github_actions.rst
Due: docs

fix: Search failed step on conclusion different from success (#7473)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/http.yaml
Due: tests

ci: allow workflows to run on stacked PR (#7484)
  .github/workflows/changelog.yaml
  .github/workflows/ci-target.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker-label.yaml
  .github/workflows/docker-onpremise.yaml
  .github/workflows/docker-saas.yaml
  .github/workflows/linear.yaml
  .github/workflows/security-scanner.yaml
Due: none

fix: Replace / by '' in failed_step_name as github does in its archive (#7490)
  mergify_engine/log_embedder/github_action.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_embedding/http.yaml
Due: tests

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
