Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

fix: Specify from which queue the PR was unqueued when running a command (#6517)
  mergify_engine/actions/queue.py
  mergify_engine/actions/unqueue.py
  mergify_engine/queue/merge_train/convoy.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_queue_train_api_calls.py
  mergify_engine/tests/functional/commands/test_unqueue.py
  zfixtures/cassettes/TestQueueAction/test_unqueue_command_after_queue_action_and_command/config.json
  zfixtures/cassettes/TestQueueAction/test_unqueue_command_after_queue_action_and_command/git-1.json
  zfixtures/cassettes/TestQueueAction/test_unqueue_command_after_queue_action_and_command/http.yaml
  zfixtures/cassettes/TestTrainApiCalls/test_batch_max_failure_resolution_attempts/config.json
  zfixtures/cassettes/TestTrainApiCalls/test_batch_max_failure_resolution_attempts/git-1.json
  zfixtures/cassettes/TestTrainApiCalls/test_batch_max_failure_resolution_attempts/http.yaml
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_no_partitions/config.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_no_partitions/git-1.json
  zfixtures/cassettes/TestUnQueueCommand/test_unqueue_no_partitions/http.yaml
Due: tests

test: Fix branch protection record on older GHES versions (#6519)
  mergify_engine/tests/functional/test_branch_protection.py
  mergify_engine/tests/functional/test_debug.py
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/config.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger/config.json
  zfixtures/cassettes/TestDebugger/test_debugger/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/config.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/http.yaml
Due: tests

chore: bump datadog-agent version to 1:7.45.1-1 (#6531)
  datadog/agent-version.txt
  dockerfiles/Dockerfile.common
Due: none

fix: missing comma (#6533)
  docs/source/configuration.rst
Due: docs

chore(datadog): enable new runtime metrics (#6534)
  datadog-wrapper.sh
Due: none

fix(ci): redesign event processing (#6482)
  datadog/conf.d/redisdb.yaml
  db_migration/versions/176199dd35b1_new_gha_models.py
  mergify_engine/ci/download.py
  mergify_engine/github_events.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_download.py
  mergify_engine/tests/unit/events/workflow_run.no_org.json
  mergify_engine/tests/unit/test_github_events.py
  mergify_engine/worker/ci_event_processing_service.py
  mergify_engine/worker_pusher.py
Due: tests

chore(datadog): link DB and APM data (#6537)
  datadog-wrapper.sh
Due: none

fix: Remove useless ignore according to mypy 1.4.1 (#6542)
  mergify_engine/tests/functional/base.py
  poetry.lock
  pyproject.toml
Due: tests

fix(db-migration): don't recreate existing enum (#6540)
  db_migration/versions/176199dd35b1_new_gha_models.py
Due: none

fix(db-migration): don't recreate existing enum (#6547)
  db_migration/versions/176199dd35b1_new_gha_models.py
Due: none

fix(db-migration): make it works whatever the workdir (#6546)
  mergify_engine/models/db_migration/README.md
  mergify_engine/models/db_migration/alembic.ini
  mergify_engine/models/db_migration/env.py
  mergify_engine/models/db_migration/script.py.mako
  mergify_engine/models/db_migration/versions/01294c4668ae_drop_pull_request_number_key.py
  mergify_engine/models/db_migration/versions/176199dd35b1_new_gha_models.py
  mergify_engine/models/db_migration/versions/298d2a2d31b7_drop_github_user_sequence.py
  mergify_engine/models/db_migration/versions/49d540f8edc6_first_migration_script.py
  mergify_engine/models/db_migration/versions/67aef78efbee_add_application_table.py
  mergify_engine/models/db_migration/versions/787e61eabca7_new_unknown_operating_system.py
  mergify_engine/models/db_migration/versions/7a5673ee5829_create_github_repository_table.py
  mergify_engine/models/db_migration/versions/a875052e527c_rename_github_repository_last_dump_at.py
  mergify_engine/models/db_migration/versions/b61249e451dc_create_ci_optimizer_tables.py
  mergify_engine/models/db_migration/versions/f22dca1d06a8_set_github_user_oauth_access_token_.py
  mergify_engine/models/manage.py
  mergify_engine/tests/unit/test_database.py
Due: tests

chore(filter): improve abstract of ternary filter (#6369)
  mergify_engine/rules/checks_status.py
  mergify_engine/rules/filter.py
  mergify_engine/tests/unit/rules/test_get_rule_checks_status.py
  mergify_engine/tests/unit/rules/test_tenary_filter.py
Due: tests

chore(db-migration): test migration script individualy (#6544)
  mergify_engine/models/manage.py
  mergify_engine/tests/unit/test_database.py
Due: tests

fix(ci): ignore workflow_job events without data (#6559)
  mergify_engine/github_events.py
  mergify_engine/github_types.py
Due: tests

refactor(ci): split CI services activation (#6560)
  mergify_engine/worker/manager.py
Due: tests

refactor(queue): do not fail already embarked pull with checks in routing conditions (#6457)
  mergify_engine/actions/queue.py
  mergify_engine/rules/config/queue_rules.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/base.py
  zfixtures/cassettes/TestAttributesWithSub/test_check_run_failure/config.json
  zfixtures/cassettes/TestAttributesWithSub/test_check_run_failure/git-1.json
  zfixtures/cassettes/TestAttributesWithSub/test_check_run_failure/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_update_after_queued/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_update_after_queued/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_update_after_queued/http.yaml
  zfixtures/cassettes/TestQueueAction/test_routing_conditions_checks_still_queued_after_rebase/config.json
  zfixtures/cassettes/TestQueueAction/test_routing_conditions_checks_still_queued_after_rebase/git-1.json
  zfixtures/cassettes/TestQueueAction/test_routing_conditions_checks_still_queued_after_rebase/http.yaml
Due: tests

chore(ci): delete API (#6565)
  mergify_engine/ci/cost_calculator.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/models.py
  mergify_engine/ci/reports.py
  mergify_engine/cli.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_cost_calculator.py
  mergify_engine/tests/unit/ci/test_job.py
  mergify_engine/tests/unit/ci/test_postgres_job_registry.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/web/api/ci/__init__.py
  mergify_engine/web/api/ci/index.py
  mergify_engine/web/api/root.py
  pyproject.toml
  zfixtures/cassettes/TestCIApi/test_report/config.json
  zfixtures/cassettes/TestCIApi/test_report/git-1.json
  zfixtures/cassettes/TestCIApi/test_report/http.yaml
  zfixtures/cassettes/TestCIApi/test_repository_report/config.json
  zfixtures/cassettes/TestCIApi/test_repository_report/git-1.json
  zfixtures/cassettes/TestCIApi/test_repository_report/http.yaml
Due: tests

test: Hopefully, fix branch protection record test for GHES (#6567)
  mergify_engine/tests/functional/test_debug.py
Due: tests

chore(tests): add timeout to subprocess (#6572)
  mergify_engine/tests/unit/test_database.py
Due: tests

fix(api): Add repository context cache in authentication process (#6497)
  mergify_engine/github_events.py
  mergify_engine/github_types.py
  mergify_engine/tests/functional/api/test_auth.py
  mergify_engine/web/api/security.py
  zfixtures/cassettes/api/test_auth/test_api_repository_auth_cached/config.json
  zfixtures/cassettes/api/test_auth/test_api_repository_auth_cached/http.yaml
Due: tests

fix(db): set Alembic config file (#6578)
  mergify_engine/models/db_migration/README.md
  tools/run-alembic-revision.sh
Due: tests

fix(ci): add values to workflow_job conclusion (#6579)
  mergify_engine/github_types.py
  mergify_engine/models/db_migration/versions/7884d682c413_add_values_to_workflow_job_conclusions.py
  mergify_engine/models/github_actions.py
Due: tests

fix(tests): fix unset_testing_env fixture (#6566)
  mergify_engine/tests/unit/test_settings.py
Due: tests

chore(docker): image security scanning report (#6550)
  docker-security-scan.json
Due: none

fix(tests): increase timeout of test_migration (#6580)
  mergify_engine/tests/unit/test_database.py
Due: tests

chore(db): remove unused db tools (#6582)
  mergify_engine/models/manage.py
  pyproject.toml
Due: tests

fix(db-update): don't require a revision (#6581)
  mergify_engine/models/manage.py
Due: tests

fix(tests): ensure env is resetted after test_settings (#6597)
  mergify_engine/tests/unit/test_settings.py
Due: tests

fix(cli): don't make invalid service fatal (#6562)
  mergify_engine/worker/manager.py
Due: tests

fix(redis-dump): passed args (#6591)
  mergify_engine/redis_utils/dumper.py
Due: tests

fix(tests): autouse original_environment_variables (#6600)
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/test_admin.py
  mergify_engine/tests/unit/test_settings.py
Due: tests

fix(queue): Require branch protections for queue command (#6575)
  mergify_engine/actions/queue.py
  mergify_engine/tests/functional/commands/test_queue.py
  zfixtures/cassettes/TestQueueCommand/test_command_queue_with_routing_conditions_not_matching_and_no_fallback/config.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_with_routing_conditions_not_matching_and_no_fallback/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_with_routing_conditions_not_matching_and_no_fallback/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_routing_conditions_with_branch_protections/config.json
  zfixtures/cassettes/TestQueueCommand/test_routing_conditions_with_branch_protections/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_routing_conditions_with_branch_protections/http.yaml
  zfixtures/cassettes/TestQueueCommand/test_without_config/config.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_without_config/http.yaml
Due: tests

feat(events): add new events model to database (#6439)
  mergify_engine/config/__init__.py
  mergify_engine/eventlogs.py
  mergify_engine/events_db.py
  mergify_engine/models/__init__.py
  mergify_engine/models/db_migration/versions/ee1a6bd5d698_add_new_event_models.py
  mergify_engine/models/events.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_repository.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/unit/ci/test_download.py
  mergify_engine/tests/unit/test_events_db.py
  zfixtures/cassettes/TestEventLogsAction/test_eventlogs_db/config.json
  zfixtures/cassettes/TestEventLogsAction/test_eventlogs_db/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_eventlogs_db/http.yaml
Due: tests

fix(rules): make rules hidding mechanism working with not operator (#6371)
  mergify_engine/rules/__init__.py
  mergify_engine/rules/filter.py
  mergify_engine/tests/unit/rules/test_rules_evaluator.py
  zfixtures/cassettes/TestAttributesWithSub/test_depends_on/config.json
  zfixtures/cassettes/TestAttributesWithSub/test_depends_on/git-1.json
  zfixtures/cassettes/TestAttributesWithSub/test_depends_on/http.yaml
  zfixtures/cassettes/TestEngineV2Scenario/test_teams/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_teams/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_teams/http.yaml
Due: tests

chore(tests): disable some tests for GHES (#6606)
  mergify_engine/tests/functional/actions/test_edit.py
Due: tests

chore(docker): image security scanning report (#6609)
  docker-security-scan.json
Due: none

test(queue): Add test for infinite loop bug (#6617)
  mergify_engine/tests/functional/commands/test_queue.py
  zfixtures/cassettes/TestQueueCommand/test_command_queue_infinite_loop_bug/config.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_infinite_loop_bug/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_infinite_loop_bug/http.yaml
Due: tests

fix: Reset train_car_state to unknow if outside_schedule (#6604)
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/actions/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_unfreeze_outside_schedule/config.json
  zfixtures/cassettes/TestQueueAction/test_unfreeze_outside_schedule/git-1.json
  zfixtures/cassettes/TestQueueAction/test_unfreeze_outside_schedule/http.yaml
Due: tests
