Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

feat(events): action copy model (#6621)
  mergify_engine/models/db_migration/versions/85830086e719_add_event_model_for_action_copy.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

ci(mergify): Use `queue_conditions` instead of deprecated `routing_conditions` (#6622)
  .mergify.yml
Due: none

chore(ci): delete download service (#6564)
  mergify_engine/ci/download.py
  mergify_engine/ci/event_processing.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/pull_registries.py
  mergify_engine/cli.py
  mergify_engine/tests/unit/ci/test_download.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
  mergify_engine/tests/unit/ci/test_postgres_job_registry.py
  mergify_engine/tests/unit/ci/test_postgres_pull_request_registry.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/ci_download_service.py
  mergify_engine/worker/ci_event_processing_service.py
  mergify_engine/worker/manager.py
  pyproject.toml
Due: tests

feat(events): action comment model (#6625)
  mergify_engine/models/db_migration/versions/b01cb243b4d1_event_model_action_comment.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

test: Skip backport tests record on GHES (#6634)
  mergify_engine/tests/functional/actions/test_backport.py
Due: tests

chore: disable event logs in db by default (#6637)
  mergify_engine/config/__init__.py
Due: tests

fix(onpremise): don't start all services (#6636)
  onpremise/Procfile
Due: none

fix(onpremise): don't enable CSP for onpremise (#6638)
  mergify_engine/middlewares/security.py
  releasenotes/notes/csp-bug-54cc44a79813b74a.yaml
Due: tests

fix(queue): return CANCELLED instead of FAILURE (#6589)
  mergify_engine/actions/queue.py
  mergify_engine/tests/functional/test_branch_protection.py
  zfixtures/cassettes/TestBranchProtection/test_required_status_checks_strict_incompatibility_with_batch_size/config.json
  zfixtures/cassettes/TestBranchProtection/test_required_status_checks_strict_incompatibility_with_batch_size/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_required_status_checks_strict_incompatibility_with_batch_size/http.yaml
Due: tests

feat: add co-authors attribute (#6607)
  docs/source/conditions.rst
  docs/source/configuration.rst
  mergify_engine/context.py
  mergify_engine/github_types.py
  mergify_engine/tests/functional/actions/test_merge.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/unit/actions/test_queue.py
  mergify_engine/tests/unit/test_behind.py
  mergify_engine/tests/unit/test_context.py
  mergify_engine/tests/unit/test_duplicate.py
  releasenotes/notes/co-authors-attribute-b4c47542a4f83ab7.yaml
  zfixtures/cassettes/TestMergeAction/test_merge_template_with_co_authors/config.json
  zfixtures/cassettes/TestMergeAction/test_merge_template_with_co_authors/git-1.json
  zfixtures/cassettes/TestMergeAction/test_merge_template_with_co_authors/http.yaml
Due: tests, docs

ci(mergify): remove queue_conditions from prr (#6652)
  .mergify.yml
Due: none

fix: author can be an empty dict (#6654)
  mergify_engine/github_types.py
Due: tests

chore: sync Mergify configuration openapi spec file (#6656)
  docs/source/_extra/config/openapi.json
Due: docs

refactor: dump_schema to use the pg_dump of the pg docker to avoid version mismatch (#6657)
  .github/workflows/ci.yaml
  docker-compose.yml
  mergify_engine/tests/unit/test_database.py
Due: tests

fix: Remove docker postgres name and use docker compose instead (#6659)
  docker-compose.yml
  mergify_engine/tests/unit/test_database.py
Due: tests

fix(copy): report correct conclusion (#6655)
  mergify_engine/actions/copy.py
  mergify_engine/tests/unit/actions/test_copy.py
Due: tests

chore: remove useless import (#6666)
  mergify_engine/models/manage.py
Due: tests

fix(onpremise): serve vite assets (#6660)
  mergify_engine/tests/unit/front/fake-build/assets/main.js
  mergify_engine/tests/unit/front/fake-build/index.html
  mergify_engine/tests/unit/front/test_react.py
  mergify_engine/web/front/react.py
Due: tests

fix: bump sql_alchemy - remove Unused 'type: ignore' (#6672)
  mergify_engine/models/github_account.py
  mergify_engine/models/github_actions.py
  poetry.lock
Due: tests

feat(events): action close model (#6626)
  mergify_engine/models/db_migration/versions/52f21f4b4e6b_event_model_action_close.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

chore(ci): remove unused database objects (#6630)
  datadog/conf.d/postgres.yaml
  mergify_engine/ci/models.py
  mergify_engine/ci/pull_registries.py
  mergify_engine/github_events.py
  mergify_engine/models/db_migration/versions/0cd24c08a6ad_delete_unused_gha_job_run_table.py
  mergify_engine/models/db_migration/versions/75e4ba139327_delete_column_github_repository_last_.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/github_repository.py
  mergify_engine/tests/unit/ci/test_event_processing.py
  mergify_engine/tests/unit/ci/test_model.py
  mergify_engine/tests/unit/ci/test_redis_pull_request_registry.py
  mergify_engine/tests/unit/ci/utils.py
Due: tests

fix(ci): handle workflow events without triggering_actor (#6662)
  mergify_engine/ci/event_processing.py
  mergify_engine/models/db_migration/versions/bb6773fafbc7_gha_workflow_run_triggering_actor_id_null.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_event_processing.py
  mergify_engine/tests/unit/events/workflow_run.completed.no-actor.json
Due: tests

chore(poe): add target to run alembic command (#6700)
  poe.toml
Due: none

feat(events): action delete_head_branch model (#6632)
  mergify_engine/models/db_migration/versions/bee9e2dfda9d_event_model_action_delete_head_branch.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

ci: create Linear ticket when PR is merged and need docs (#6678)
  .github/workflows/create-linear-for-docs.yaml
Due: none

feat(events): action dismiss_reviews model (#6646)
  mergify_engine/models/db_migration/versions/c05edaa912c7_event_model_action_dismiss_reviews.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

feat(queue): rename queue action `method` option in `merge_method` (#6671)
  docs/source/actions/queue.rst
  mergify_engine/actions/queue.py
  mergify_engine/tests/functional/actions/test_backport.py
  mergify_engine/tests/functional/actions/test_merge.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/test_branch_protection.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/functional/test_summary.py
  mergify_engine/tests/unit/actions/test_queue.py
  mergify_engine/tests/unit/rules/test_rules.py
  releasenotes/notes/queue-action-option-rename-3fe8f6e9436d4d8e.yaml
Due: tests, docs

feat(events): action backport model (#6627)
  mergify_engine/models/db_migration/versions/6fac7379497e_event_model_action_backport.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

chore(docker): image security scanning report This is the docker image security scanning report
  docker-security-scan.json
Due: none

fix: check number of reviews for injecting branch-protection-review-decision (#6725)
  mergify_engine/rules/conditions.py
Due: tests

ci(mergify): fix merge_method (#6742)
  .mergify.yml
Due: none

ci: update Ubuntu to 22.04 (#6733)
  .github/workflows/ci-target.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker-label.yaml
  .github/workflows/docker-onpremise.yaml
  .github/workflows/docker-saas.yaml
  .github/workflows/security-scanner.yaml
Due: none

fix(re-recording): don't use parallel (#6729)
  .github/workflows/ci-record.yaml
Due: none

ci: upgrade actionlint to 1.6.25 (#6732)
  .github/workflows/ci.yaml
Due: none

ci(mergify): move default from .github to here (#6754)
  .mergify.yml
Due: none

feat(events): action edit model (#6752)
  mergify_engine/models/db_migration/versions/616124037cdd_event_model_action_edit.py
  mergify_engine/models/events.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

feat(events): action label model (#6756)
  mergify_engine/models/db_migration/versions/7b2a0192424f_add_event_action_label.py
  mergify_engine/models/events.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/unit/test_events_db.py
  zfixtures/cassettes/TestEventLogsAction/test_eventlogs_db/config.json
  zfixtures/cassettes/TestEventLogsAction/test_eventlogs_db/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_eventlogs_db/http.yaml
Due: tests

ci(mergify): set default commit_message_template (#6760)
  .mergify.yml
Due: none

feat: Add columns log_embedding in model WorkflowJob and set pgvector docker image (#6631)
  .github/workflows/ci.yaml
  docker-compose.yml
  mergify_engine/constants.py
  mergify_engine/models/db_migration/versions/3857dce77197_add_pgvector_and_job_log.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/manage.py
  poetry.lock
  pyproject.toml
Due: tests

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
