Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

test: check tasks shutdown ordering (#7859)
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/manager.py
Due: tests

fix: Add execution of add-linear-author-as-reviewer on dismissed review (#7866)
  .github/workflows/linear.yaml
Due: none

ci: notify when create-linear-for-docs fails (#7873)
  .github/workflows/create-linear-for-docs.yaml
Due: none

chore: sync Mergify configuration openapi spec file
  docs/source/_extra/config/openapi.json
Due: docs

chore(datadog): add metric to track CI usage (#7858)
  mergify_engine/filtered_github_types.py
  mergify_engine/github_events.py
  mergify_engine/github_types.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/stream.py
Due: tests

refactor(actions): remove default_restrictions when default is used (#7876)
  mergify_engine/actions/backport.py
  mergify_engine/actions/copy.py
  mergify_engine/actions/queue.py
  mergify_engine/actions/requeue.py
Due: tests

test: Remove unnecessary subscription marker on some tests (#7880)
  mergify_engine/tests/unit/actions/test_request_reviews.py
Due: tests

refactor(api): query parameters can be forwarded in response links (#7775)
  mergify_engine/pagination.py
  mergify_engine/tests/unit/api/test_events.py
  mergify_engine/tests/unit/test_utils.py
  mergify_engine/web/api/events.py
  mergify_engine/web/utils.py
Due: tests

feat: Add gha-failed-jobs details endpoint (#7854)
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/api/test_gha_failed_jobs.py
  mergify_engine/tests/unit/test_utils.py
  mergify_engine/web/api/gha_failed_jobs.py
Due: tests

chore: fix docker port extraction (#7887)
  tools/run-tests.sh
Due: none

test: add logging to test_dedicated_multiple_processes (#7885)
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/dedicated_workers_spawner_service.py
  mergify_engine/worker/manager.py
  mergify_engine/worker/task.py
Due: tests

refactor(log): improve log error for unsuccessful_checks (#7888)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

refactor(queue): remove skipped checks from unsuccessful_checks filter (#7889)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

chore: cover more status checks (#7894)
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/stream.py
Due: tests

fix(log-embedder): handle valid jobs with no steps (#7883)
  mergify_engine/github_types.py
  mergify_engine/log_embedder/github_action.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/functional/log_embedder/test_github_action.py
  mergify_engine/tests/unit/ci/test_event_processing.py
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading_with_no_steps/config.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading_with_no_steps/git-1.json
  zfixtures/cassettes/TestLogEmbedderGithubAction/test_log_downloading_with_no_steps/http.yaml
Due: tests

chore(docker): image security scanning report (#7834)
  docker-security-scan.json
Due: none

fix(worker): ensure bucket cleanup is always executed and never fails (#7892)
  mergify_engine/exceptions.py
  mergify_engine/worker/stream.py
  mergify_engine/worker/stream_lua.py
  mergify_engine/worker/stream_service_base.py
Due: tests

fix(dependabot): remove ddtrace from ignore list (#7909)
  .github/dependabot.yml
Due: none

refactor(events): temporary duplicate fields in api responses (#7886)
  mergify_engine/eventlogs.py
  mergify_engine/events.py
  mergify_engine/tests/functional/actions/test_dismiss_review.py
  mergify_engine/tests/functional/actions/test_edit.py
  mergify_engine/tests/functional/actions/test_label.py
  mergify_engine/tests/functional/actions/test_post_check.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_review.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/unit/api/test_events.py
  mergify_engine/web/api/eventlogs.py
  mergify_engine/web/api/events.py
Due: tests

test: Move tests utils into `tests/utils` instead of `tests/unit/test_utils.py` (#7917)
  mergify_engine/tests/unit/api/test_gha_failed_jobs.py
  mergify_engine/tests/unit/log_embedder/test_github_actions.py
  mergify_engine/tests/unit/log_embedder/test_service.py
  mergify_engine/tests/unit/test_utils.py
  mergify_engine/tests/utils.py
Due: tests

refactor(doc): correct partition rules example (#7918)
  docs/source/actions/queue.rst
Due: docs

chore: cover more status checks (#7927)
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/stream.py
Due: tests

chore(respx): ensure we don't have useless mock (#7929)
  mergify_engine/github_types.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/api/test_events.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/front/conftest.py
  mergify_engine/tests/unit/front/test_applications.py
  mergify_engine/tests/unit/front/test_auth.py
  mergify_engine/tests/unit/front/test_proxy_engine.py
  mergify_engine/tests/unit/front/test_proxy_github.py
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/tests/unit/test_clients.py
  mergify_engine/tests/unit/test_command.py
Due: tests

docs: fix typo in db_populator README (#7932)
  mergify_engine/tests/db_populator/README.md
Due: tests

fix(queue): don't stuck PR with an unknown queue state (#7931)
  mergify_engine/actions/utils.py
  mergify_engine/context.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/functional/actions/test_queue.py
  pyproject.toml
  zfixtures/cassettes/TestQueueAction/test_batch_cant_create_tmp_pull_request/config.json
  zfixtures/cassettes/TestQueueAction/test_batch_cant_create_tmp_pull_request/git-1.json
  zfixtures/cassettes/TestQueueAction/test_batch_cant_create_tmp_pull_request/http.yaml
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/config.json
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/git-1.json
  zfixtures/cassettes/TestQueueAction/test_batch_max_wait_time_after_pr_conflicts/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_cant_create_tmp_pull_request/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_multi_partition_pull_request_reporting_when_pr_in_only_one_partition/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_multi_partition_pull_request_reporting_when_pr_in_only_one_partition/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_multi_partition_pull_request_reporting_when_pr_in_only_one_partition/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_multi_partition_pull_request_reporting_when_pr_in_several_partitions/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_multi_partition_pull_request_reporting_when_pr_in_several_partitions/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_multi_partition_pull_request_reporting_when_pr_in_several_partitions/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_1_pr_multiple_partitions_no_inplace_fail/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_1_pr_multiple_partitions_no_inplace_fail/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_1_pr_multiple_partitions_no_inplace_fail/http.yaml
Due: tests

chore(docker): image security scanning report This is the docker image security scanning report
  docker-security-scan.json
Due: none

test: Move and modify `api_token` fixture to be able to re-use it (#7934)
  mergify_engine/tests/unit/api/conftest.py
  mergify_engine/tests/unit/api/test_events.py
Due: tests

fix(record): rework error message for GHES 3.8 (#7936)
  mergify_engine/config/__init__.py
  mergify_engine/tests/functional/actions/test_github_actions.py
  zfixtures/cassettes/GhaActionTestBase/test_gha_multiple_workflows_dispatches_containing_error/config.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_multiple_workflows_dispatches_containing_error/git-1.json
  zfixtures/cassettes/GhaActionTestBase/test_gha_multiple_workflows_dispatches_containing_error/http.yaml
Due: tests

fix(record): make test_github_actions works on GHES (#7938)
  mergify_engine/config/__init__.py
  mergify_engine/tests/functional/actions/test_github_actions.py
Due: tests

chore: fix argument typing (#7946)
  mergify_engine/console_scripts/openapi_spec_generator.py
Due: tests

docs(openapi): lint all /v1/ routes (#7947)
  mergify_engine/console_scripts/openapi_spec_generator.py
  tools/build-docs.sh
Due: tests

docs(openapi): fix warnings (#7948)
  mergify_engine/web/api/gha_failed_jobs.py
  mergify_engine/web/api/root.py
Due: tests

feat: add failed step number in `/gha-failed-jobs` (#7949)
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/api/test_gha_failed_jobs.py
  mergify_engine/web/api/gha_failed_jobs.py
Due: tests

refactor: rename as_dict() as_github_dict() (#7953)
  mergify_engine/context.py
  mergify_engine/models/__init__.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_repository.py
  mergify_engine/tests/db_populator/test_api_gha_failed_jobs_dataset.py
  mergify_engine/tests/db_populator/workflow_job.py
  mergify_engine/tests/unit/models/test_github_repository.py
  mergify_engine/tests/unit/test_database.py
  mergify_engine/tests/unit/test_events_db.py
  mergify_engine/tests/utils.py
Due: tests

feat(api): add "failed_retry_count" on failed jobs (#7952)
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/api/test_gha_failed_jobs.py
  mergify_engine/web/api/gha_failed_jobs.py
Due: tests

chore: stop publishing sphinx documentation (#7964)
  .github/workflows/docs-upload-gcp-prod.yaml
Due: none

fix(events): returned payload for Enum metadata fields (#7966)
  mergify_engine/queue/statistics.py
  mergify_engine/signals.py
  mergify_engine/tests/unit/api/test_events.py
Due: tests

ci: Remove `docs-upload-gcp-prod.yaml` from clifus conf (#7968)
  .github/clifus.yml
Due: none

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
