Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

docs: add Advanced Plan feature tag (#6011)
  docs/source/actions/backport.rst
  docs/source/actions/comment.rst
  docs/source/actions/post_check.rst
  docs/source/actions/queue.rst
  docs/source/actions/request_reviews.rst
  docs/source/actions/squash.rst
  docs/source/examples.rst
  docs/source/global-substitutions.rst
Due: docs

docs: update feature for open source (#6013)
  docs/source/actions/backport.rst
  docs/source/actions/comment.rst
  docs/source/actions/copy.rst
  docs/source/actions/merge.rst
  docs/source/actions/queue.rst
  docs/source/actions/rebase.rst
  docs/source/actions/request_reviews.rst
  docs/source/actions/review.rst
  docs/source/actions/squash.rst
  docs/source/actions/update.rst
Due: docs

ci(lint): fix reno (#6046)
  releasenotes/config.yaml
Due: none

chore: bump datadog-agent version to 1:7.44.1-1
  datadog/agent-version.txt
  dockerfiles/Dockerfile.common
Due: none

chore: bump datadog-mergify integration version to 0.1.0
  datadog/mergify-integration-version.txt
  dockerfiles/Dockerfile.common
Due: none

fix(check_run): Remove post parameters added to url (#5984)
  mergify_engine/actions/queue.py
  mergify_engine/actions/requeue.py
  mergify_engine/actions/unqueue.py
  mergify_engine/check_api.py
  mergify_engine/engine/__init__.py
  mergify_engine/queue/merge_train/convoy.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/functional/test_summary.py
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/http.yaml
  zfixtures/cassettes/TestQueueCISummary/test_pr_embarked_check_runs_statuses_ci_summary/config.json
  zfixtures/cassettes/TestQueueCISummary/test_pr_embarked_check_runs_statuses_ci_summary/git-1.json
  zfixtures/cassettes/TestQueueCISummary/test_pr_embarked_check_runs_statuses_ci_summary/http.yaml
Due: tests

docs: add missing open source flag on post_check (#6037)
  docs/source/actions/post_check.rst
Due: docs

fix(docker): don't automatically tag latest image (#6029)
  .github/workflows/docker-onpremise.yaml
Due: none

test: better error message (#6036)
  mergify_engine/tests/unit/test_database.py
Due: tests

test(db): allow only one head revision (#6043)
  mergify_engine/tests/unit/test_database.py
Due: tests

feat(queue): wait for pending checks in routing_conditions evaluation (#5989)
  mergify_engine/actions/queue.py
  mergify_engine/rules/checks_status.py
  mergify_engine/rules/config/queue_rules.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/base.py
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_with_pending_check_runs/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_with_pending_check_runs/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_with_pending_check_runs/http.yaml
Due: tests

test: Add test for request_review of team with organization name (#6074)
  mergify_engine/tests/functional/actions/test_request_reviews.py
  zfixtures/cassettes/TestRequestReviewsAction/test_request_reviews_teams_with_organization/config.json
  zfixtures/cassettes/TestRequestReviewsAction/test_request_reviews_teams_with_organization/git-1.json
  zfixtures/cassettes/TestRequestReviewsAction/test_request_reviews_teams_with_organization/http.yaml
Due: tests

docs: add missing advanced plan tag for merge page (#6039)
  docs/source/actions/merge.rst
Due: docs

chore: Add new test for configuration changed (#6045)
  mergify_engine/tests/functional/test_configuration.py
  zfixtures/cassettes/TestConfiguration/test_configuration_changed/config.json
  zfixtures/cassettes/TestConfiguration/test_configuration_changed/git-1.json
  zfixtures/cassettes/TestConfiguration/test_configuration_changed/http.yaml
Due: tests

chore: Add logs on push event for configuration changed not detected bug (#6026)
  mergify_engine/github_events.py
Due: tests

chore(docker): image security scanning report (#6027)
  docker-security-scan.json
Due: none

fix(datadog): Fix mergify integration configuration (#6080)
  datadog/conf.d/mergify.yaml
Due: none

fix(queue): Handle another branch protection error case (#5945)
  mergify_engine/actions/queue.py
  mergify_engine/tests/functional/test_branch_protection.py
  mergify_engine/tests/unit/actions/test_queue.py
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/config.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/git-2.json
  zfixtures/cassettes/TestBranchProtection/test_strict_status_check_with_rebase_update_method_and_no_bot_account/http.yaml
Due: tests

fix(engine): Fix sha collision detection for PR synchronized (#6059)
  mergify_engine/engine/__init__.py
  mergify_engine/tests/functional/test_engine.py
  zfixtures/cassettes/TestEngineV2Scenario/test_sha_collision_after_pr_synchronization/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_sha_collision_after_pr_synchronization/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_sha_collision_after_pr_synchronization/http.yaml
Due: tests

chore: split render_bot_account (#6087)
  mergify_engine/actions/comment.py
  mergify_engine/actions/copy.py
  mergify_engine/actions/edit.py
  mergify_engine/actions/merge.py
  mergify_engine/actions/merge_base.py
  mergify_engine/actions/queue.py
  mergify_engine/actions/rebase.py
  mergify_engine/actions/request_reviews.py
  mergify_engine/actions/review.py
  mergify_engine/actions/squash.py
  mergify_engine/actions/update.py
  mergify_engine/actions/utils.py
  mergify_engine/queue/merge_train/train_car.py
Due: tests

[create-pull-request] automated change
  docker-security-scan.json
Due: none

chore: remove unused features (#6102)
  mergify_engine/dashboard/subscription.py
Due: tests

test: Add missing branches to cleanup in asyncTearDown (#6104)
  mergify_engine/tests/functional/base.py
Due: tests

fix(datadog): Add missing mergify_api_url in mergify integration conf (#6106)
  datadog/conf.d/mergify.yaml
Due: none

fix(datadog): Remove trailing slash in mergify_api_url (#6109)
  datadog/conf.d/mergify.yaml
Due: none

fix(datadog): Fix typo in mergify.yaml conf file (#6111)
  datadog/conf.d/mergify.yaml
Due: none

test: Fix test_debugger to check branch protection of the test branch (#6125)
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_debug.py
  zfixtures/cassettes/TestDebugger/test_debugger/config.json
  zfixtures/cassettes/TestDebugger/test_debugger/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/config.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/http.yaml
Due: tests

chore(datadog): Change collection interval of mergify integration (#6128)
  datadog/conf.d/mergify.yaml
Due: none

ci: Add something in conf to test configuration cache bug (#6146)
  .mergify.yml
Due: none

revert: "ci: Add something in conf to test configuration cache bug (#6146)" (#6147)
  .mergify.yml
Due: none

fix: Register signal on web app (#6151)
  mergify_engine/web/root.py
Due: tests

ci: add Poe command to serve docs (#6162)
  poe.toml
Due: none
