Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

fix(ci): handle unknown runners (#5515)
  db_migration/versions/787e61eabca7_new_unknown_operating_system.py
  mergify_engine/ci/cost_calculator.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/models.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_cost_calculator.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
Due: tests

chore(config): cleanup config (#5206)
  mergify_engine/config/__init__.py
  mergify_engine/config/types.py
  mergify_engine/tests/unit/test_applications.py
  mergify_engine/web/api/security.py
Due: tests

docs: replace yarn by npm (#5563)
  docs/package-lock.json
  docs/yarn.lock
  tools/build-docs.sh
Due: docs

docs: add a section to delete application key (#5561)
  docs/source/_static/application_keys_delete.png
  docs/source/api-intro.rst
Due: docs

ci(trivy): don't use master branch (#5546)
  .github/workflows/security-scanner.yml
Due: none

feat(healthcheck): added endpoint to check status of application (#5369)
  mergify_engine/config/__init__.py
  mergify_engine/tests/functional/api/test_healthcheck.py
  mergify_engine/web/healthcheck.py
  mergify_engine/web/root.py
  releasenotes/notes/healthcheck-endpoint-05939f143e03d8cf.yaml
  zfixtures/cassettes/TestHealthcheckEndpoint/test_healthcheck/config.json
  zfixtures/cassettes/TestHealthcheckEndpoint/test_healthcheck/git-1.json
  zfixtures/cassettes/TestHealthcheckEndpoint/test_healthcheck/http.yaml
Due: tests

fix(rules): don't use operator for related checks (#5573)
  mergify_engine/rules/conditions.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests

ci(clifus): better commit message (#5574)
  .github/workflows/clifus.yaml
Due: none

fix(cli): typo in entrypoint module path (#5595)
  pyproject.toml
Due: none

docs: update application keys screenshots (#5562)
  docs/source/_static/application_keys.png
  docs/source/_static/application_keys_token.png
Due: docs

ci: post daily jobs failure on slack (#5564)
  .github/workflows/clifus.yaml
  .github/workflows/security-scanner.yml
Due: none

feat(ci): return all date ranges in API (#5575)
  mergify_engine/ci/reports.py
  mergify_engine/tests/functional/api/test_ci.py
Due: tests

refactor: use typing.Annotated for fastapi.Query (#5607)
  mergify_engine/pagination.py
  mergify_engine/web/api/badges.py
  mergify_engine/web/api/ci/index.py
  mergify_engine/web/api/statistics.py
  mergify_engine/web/front/auth.py
Due: tests

fix(migration): split first script in two (#5609)
  db_migration/versions/49d540f8edc6_first_migration_script.py
  db_migration/versions/b61249e451dc_create_ci_optimizer_tables.py
  db_migration/versions/f22dca1d06a8_set_github_user_oauth_access_token_.py
Due: none

fix(poe): upgrade database before running alembic (#5615)
  poe.toml
  tools/run-alembic-revision.sh
Due: none

fix(train_car): Add a fallback to rename merge queue branch draft pr (#5616)
  mergify_engine/github_graphql_types.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_branch_protection.py
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/config.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/git-1.json
  zfixtures/cassettes/TestBranchProtection/test_draft_pr_with_branch_protection_on_everything/http.yaml
Due: tests

fix(subscription): Keep all the features found in database in sub object (#5640)
  mergify_engine/dashboard/subscription.py
  mergify_engine/tests/functional/actions/test_post_check.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/functional/test_subscription.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/test_context.py
  mergify_engine/tests/unit/test_engine.py
  mergify_engine/tests/unit/test_subscription.py
Due: tests

feat(web): Handle partition rules in the API (#5101)
  mergify_engine/rules/config/partition_rules.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/functional/api/test_partitions.py
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/tests/functional/base.py
  mergify_engine/web/api/partitions/__init__.py
  mergify_engine/web/api/partitions/index.py
  mergify_engine/web/api/queues/__init__.py
  mergify_engine/web/api/queues/new_details.py
  mergify_engine/web/api/root.py
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_multiple_partitions/config.json
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_multiple_partitions/git-1.json
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_multiple_partitions/http.yaml
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_queue_without_partitions/config.json
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_queue_without_partitions/git-1.json
  zfixtures/cassettes/TestNewQueueApiEndpoint/test_pr_in_queue_without_partitions/http.yaml
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_invalid_branch_name/config.json
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_invalid_branch_name/git-1.json
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_invalid_branch_name/http.yaml
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_with_partition_rules/config.json
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_with_partition_rules/git-1.json
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_with_partition_rules/http.yaml
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_without_any_partition_rules/config.json
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_without_any_partition_rules/git-1.json
  zfixtures/cassettes/TestPartitionsApi/test_partitions_endpoints_without_any_partition_rules/http.yaml
Due: tests

ci(trivy): download the docker image to check (#5638)
  .github/workflows/security-scanner.yml
Due: none

fix(statistics): Fix ETA accuracy measurement (#5594)
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/queue/statistics_accuracy.py
  mergify_engine/tests/functional/test_statistics.py
  zfixtures/cassettes/TestStatisticsRedis/test_accuracy_measure/config.json
  zfixtures/cassettes/TestStatisticsRedis/test_accuracy_measure/git-1.json
  zfixtures/cassettes/TestStatisticsRedis/test_accuracy_measure/http.yaml
  zfixtures/cassettes/TestTrainApiCalls/test_failed_draft_pr_auto_cleanup/config.json
  zfixtures/cassettes/TestTrainApiCalls/test_failed_draft_pr_auto_cleanup/git-1.json
  zfixtures/cassettes/TestTrainApiCalls/test_failed_draft_pr_auto_cleanup/http.yaml
Due: tests

fix(config): argument typo (#5651)
  mergify_engine/config/__init__.py
Due: tests

test(docker-compose): port mapping can be set with local env vars (#5654)
  docker-compose.yml
Due: none

fix(rules): template validation on list attributes (#5657)
  mergify_engine/rules/types.py
  mergify_engine/tests/functional/actions/test_assign.py
  mergify_engine/tests/unit/actions/test_assign.py
  mergify_engine/tests/unit/rules/test_types.py
  zfixtures/cassettes/TestAssignAction/test_unassign_valid_template/config.json
  zfixtures/cassettes/TestAssignAction/test_unassign_valid_template/git-1.json
  zfixtures/cassettes/TestAssignAction/test_unassign_valid_template/http.yaml
Due: tests

fix(command): allow comment begining by space (#5656)
  mergify_engine/engine/commands_runner.py
  mergify_engine/tests/unit/test_command.py
Due: tests

refactor(stats): Add partition name to stats in redis (#5655)
  mergify_engine/queue/statistics.py
  mergify_engine/tests/functional/test_statistics.py
  mergify_engine/tests/unit/test_statistics.py
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis/config.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis/git-1.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis/http.yaml
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_with_partitions/config.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_with_partitions/git-1.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_with_partitions/http.yaml
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_without_partitions/config.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_without_partitions/git-1.json
  zfixtures/cassettes/TestStatisticsRedis/test_statistics_format_in_redis_without_partitions/http.yaml
Due: tests

fix(stats): Add default `partition_name` value for statistics without it (#5677)
  mergify_engine/queue/statistics.py
  mergify_engine/tests/functional/test_statistics.py
Due: tests

chore(installer): move it into its repository (#5646)
  .github/dependabot.yml
  .github/workflows/docker-onpremise.yaml
  .github/workflows/docker-saas.yaml
  .gitignore
  .mergify.yml
  .semgrepignore
  dockerfiles/Dockerfile.onpremise
  installer/Procfile
  installer/__init__.py
  installer/asgi.py
  installer/package-lock.json
  installer/package.json
  installer/public/favicon.ico
  installer/public/index.html
  installer/public/manifest.json
  installer/public/robots.txt
  installer/src/App.css
  installer/src/App.jsx
  installer/src/favicon.ico
  installer/src/index.css
  installer/src/index.jsx
  installer/src/logo-mergify-black.png
  onpremise/entrypoint.sh
Due: none

chore: remove the random ubuntu mirror workaround (#5681)
  .github/workflows/ci.yaml
Due: none

feat(conditions): Add new available `Merge-After` condition in PR body (#5653)
  docs/source/actions/merge.rst
  docs/source/actions/queue.rst
  mergify_engine/actions/merge.py
  mergify_engine/actions/queue.py
  mergify_engine/context.py
  mergify_engine/rules/conditions.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/test_context.py
  releasenotes/notes/merge-after-feature-b71f194785bf1479.yaml
  zfixtures/cassettes/TestAttributesWithSub/test_merge_after/config.json
  zfixtures/cassettes/TestAttributesWithSub/test_merge_after/git-1.json
  zfixtures/cassettes/TestAttributesWithSub/test_merge_after/http.yaml
Due: tests, docs

ci: fix pytest durations-path filepath (#5674)
  .github/workflows/ci.yaml
Due: none

chore(db): remove all downgrade method (#5679)
  db_migration/script.py.mako
  db_migration/versions/49d540f8edc6_first_migration_script.py
  db_migration/versions/787e61eabca7_new_unknown_operating_system.py
  db_migration/versions/b61249e451dc_create_ci_optimizer_tables.py
Due: none

docs: add configuration openapi.json (#5678)
  docs/source/_extra/config/openapi.json
  docs/source/configuration.rst
Due: docs

test: Dont sync GET requests when recording in parallel (#5686)
  mergify_engine/tests/functional/conftest.py
Due: tests

fix(queue): handle GitHub App pull request with fast-forward gracefully (#5698)
  mergify_engine/actions/queue.py
Due: tests

test: Allow to properly use `two_commits` with `files` in `create_pr` (#5692)
  mergify_engine/tests/functional/base.py
Due: tests

fix(pytest): set testpaths (#5697)
  pyproject.toml
Due: none

feat(application-keys): add them to engine side (#5617)
  db_migration/versions/67aef78efbee_add_application_table.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/models.py
  mergify_engine/github_types.py
  mergify_engine/models/__init__.py
  mergify_engine/models/application_keys.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/manage.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_postgres_job_registry.py
  mergify_engine/tests/unit/ci/utils.py
  mergify_engine/tests/unit/front/test_applications.py
  mergify_engine/web/api/applications.py
  mergify_engine/web/api/security.py
  mergify_engine/web/front/applications.py
  mergify_engine/web/front/root.py
  mergify_engine/web/front/security.py
Due: tests

fix(manage): fix database update script (#5707)
  .github/workflows/docker-saas.yaml
  mergify_engine/import_check.py
  mergify_engine/models/github_account.py
  poe.toml
  pyproject.toml
Due: tests

chore: use official datadog integration (#5689)
  datadog-wrapper.sh
  datadog/datadog_mergify-0.0.1-py3-none-any.whl
  dockerfiles/Dockerfile.common
Due: none
