Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

refactor(test): correct typo in freeze test name (#5023)
  mergify_engine/tests/functional/api/test_queue.py
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_when_queue_freezed/config.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_when_queue_freezed/git-1.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_when_queue_freezed/http.yaml
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_when_queue_is_frozen/config.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_when_queue_is_frozen/git-1.json
  zfixtures/cassettes/TestQueueApi/test_estimated_time_of_merge_when_queue_is_frozen/http.yaml
Due: tests

feat: create a Redis cache for commits (#4972)
  mergify_engine/ci/dump.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/models.py
  mergify_engine/ci/pull_registries.py
  mergify_engine/cli.py
  mergify_engine/github_events.py
  mergify_engine/models/github_actions.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
  mergify_engine/tests/unit/ci/test_http_pull_request_registry.py
  mergify_engine/tests/unit/ci/test_postgres_pull_request_registry.py
  mergify_engine/tests/unit/ci/test_redis_pull_request_registry.py
  mergify_engine/tests/unit/ci/utils.py
Due: tests

refactor: unnecessary dict comprehension (#5049)
  mergify_engine/actions/__init__.py
Due: tests

chore: remove unnecessary fs003 type ignore (#5053)
  mergify_engine/web/api/ci/__init__.py
  mergify_engine/web/api/queues/configuration.py
  mergify_engine/web/api/queues/freeze.py
  mergify_engine/web/api/queues/index.py
Due: tests

chore: remove unused user_tokens module (#5019)
  mergify_engine/branch_updater.py
  mergify_engine/context.py
  mergify_engine/dashboard/user_tokens.py
  mergify_engine/debug.py
  mergify_engine/gitter.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/test_debug.py
  mergify_engine/tests/unit/test_user_tokens.py
  mergify_engine/web/subscriptions.py
Due: tests

docs: update about link (#5057)
  docs/source/_templates/navbar.html
Due: docs

ci: add a job that uses a self-hosted runner (#5059)
  .github/actionlint.yaml
  .github/workflows/ci-self-hosting.yaml
Due: none

refactor: move database helpers to their own file (#5056)
  mergify_engine/actions/utils.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/pull_registries.py
  mergify_engine/cli.py
  mergify_engine/database.py
  mergify_engine/models/__init__.py
  mergify_engine/models/manage.py
  mergify_engine/service.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/unit/test_models.py
  mergify_engine/web/front/admin.py
  mergify_engine/web/front/auth.py
  mergify_engine/web/front/sessions.py
  mergify_engine/web/subscriptions.py
Due: tests

refactor(ci): don't pointlessly convert to list (#5078)
  mergify_engine/ci/job_registries.py
Due: tests

fix: ignore skipped jobs (#5080)
  mergify_engine/ci/job_registries.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
Due: tests

refactor: use FastAPI annotations (#5073)
  mergify_engine/database.py
  mergify_engine/pagination.py
  mergify_engine/tests/functional/api/test_auth.py
  mergify_engine/web/api/applications.py
  mergify_engine/web/api/badges.py
  mergify_engine/web/api/ci/index.py
  mergify_engine/web/api/eventlogs.py
  mergify_engine/web/api/queues/configuration.py
  mergify_engine/web/api/queues/details.py
  mergify_engine/web/api/queues/freeze.py
  mergify_engine/web/api/queues/index.py
  mergify_engine/web/api/security.py
  mergify_engine/web/api/simulator.py
  mergify_engine/web/api/statistics.py
  mergify_engine/web/front/admin.py
  mergify_engine/web/front/auth.py
  mergify_engine/web/front/configuration.py
  mergify_engine/web/front/proxy/github.py
  mergify_engine/web/front/proxy/saas.py
  mergify_engine/web/front/security.py
  mergify_engine/web/github_webhook.py
  mergify_engine/web/redis.py
  mergify_engine/web/subscriptions.py
Due: tests

revert: "chore(deps): bump redis from 4.5.1 to 4.5.2" (#5097)
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: none

fix: ignore jobs with unhandled event (#5081)
  mergify_engine/ci/job_registries.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
Due: tests

ci(record): disable redis password (#5060)
  .github/workflows/ci-record.yaml
Due: none

fix(queue): ensure head_sha and commits are in sync (#5098)
  mergify_engine/context.py
  mergify_engine/queue/merge_train/train_car.py
Due: tests

fix(train): Fix train loading with no partition in train_raw (#5114)
  mergify_engine/queue/merge_train/train.py
Due: tests

fix(freeze): limit changing freeze to people with write access (#5104)
  mergify_engine/tests/unit/front/test_proxy_engine.py
  mergify_engine/web/api/queues/freeze.py
  mergify_engine/web/api/security.py
Due: tests

refactor(service-config): start migration to pydantic (#5084)
  mergify_engine/__init__.py
  mergify_engine/config/__init__.py
  mergify_engine/config/urls.py
  mergify_engine/database.py
  mergify_engine/models/manage.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/test_config.py
  mergify_engine/tests/unit/test_models.py
  mergify_engine/tests/unit/test_settings.py
  mergify_engine/utils.py
  poetry.lock
  pyproject.toml
Due: tests

fix(parser): Fix `commits[X]` parsing when negating boolean sub attributes (#5120)
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_parser.py
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition/http.yaml
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_bool/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_bool/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_bool/http.yaml
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_str/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_str/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_condition_str/http.yaml
Due: tests

fix(auth): if user can't access to collaborator return a 403 (#5122)
  mergify_engine/web/api/security.py
Due: tests

chore(ci): setup ddtrace for CI dump (#5124)
  mergify_engine/ci/dump.py
Due: tests

chore(config): add env_prefix to error message (#5128)
  mergify_engine/config/__init__.py
  mergify_engine/tests/unit/test_settings.py
Due: tests

chore: use new Poetry dependency group (#5127)
  pyproject.toml
Due: none

feat(ci): compute the difference per actor/job (#5103)
  mergify_engine/ci/reports.py
  mergify_engine/tests/unit/ci/test_reports.py
  mergify_engine/tests/unit/ci/utils.py
Due: tests

chore(docs): fix layout of update_method option (#5130)
  docs/source/actions/queue.rst
Due: docs

chore(marketplace): remove useless endpoint (#5131)
  mergify_engine/config/__init__.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/unit/test_forwards.py
  mergify_engine/web/github_webhook.py
  zfixtures/cassettes/TestEngineV2Scenario/test_marketplace_event/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_marketplace_event/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_marketplace_event/http.yaml
Due: tests

chore(config): fix inheritance of pydantic settings Config (#5133)
  mergify_engine/config/__init__.py
Due: tests

chore(config): make environment variable case sensitive (#5132)
  mergify_engine/config/__init__.py
Due: tests

ci(poetry): add verbosity to poetry ci (#5157)
  tools/poetry-ci-install.sh
Due: none

refactor(config): move WEBHOOK envs to pydantic (#5129)
  mergify_engine/config/__init__.py
  mergify_engine/tests/bridge.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/unit/test_forwards.py
  mergify_engine/tests/unit/test_settings.py
  mergify_engine/tests/unit/test_web.py
  mergify_engine/web/auth.py
  mergify_engine/web/github_webhook.py
Due: tests

feat(parser): Allow to use `*` in `commits[X]` conditions (#5126)
  docs/source/conditions.rst
  mergify_engine/context.py
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_parser.py
  releasenotes/notes/commits-attribute-all-55d36e9526b8e0ad.yaml
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_bool/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_bool/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_bool/http.yaml
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_str/config.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_str/git-1.json
  zfixtures/cassettes/TestAttributes/test_commits_attributes_list_all_condition_str/http.yaml
Due: tests, docs

fix(config): typo in GITHUB_WEBHOOK_FORWARD_EVENT_TYPES (#5165)
  mergify_engine/config/__init__.py
  mergify_engine/tests/unit/test_settings.py
Due: tests

chore(config): test coverage for GITHUB_WEBHOOK_FORWARD_URL (#5166)
  mergify_engine/tests/unit/test_settings.py
Due: tests

chore(bridge): allow to configure repository-id (#5167)
  mergify_engine/tests/bridge.py
Due: tests

refactor(config): move DASHBOARD_UI envs to pydantic (#5145)
  mergify_engine/branch_updater.py
  mergify_engine/config/__init__.py
  mergify_engine/squash_pull.py
  mergify_engine/tests/conftest.py
  mergify_engine/tests/unit/front/test_admin.py
  mergify_engine/tests/unit/front/test_configuration.py
  mergify_engine/tests/unit/front/test_proxy_github.py
  mergify_engine/tests/unit/front/test_proxy_saas.py
  mergify_engine/tests/unit/front/test_react.py
  mergify_engine/tests/unit/test_settings.py
  mergify_engine/web/front/auth.py
  mergify_engine/web/front/configuration.py
  mergify_engine/web/front/react.py
  mergify_engine/web/front/root.py
  mergify_engine/web/front/security.py
  mergify_engine/web/front/sessions.py
  mergify_engine/web/root.py
Due: tests

fix(config): use list instead of set (#5207)
  mergify_engine/config/__init__.py
  mergify_engine/tests/unit/test_settings.py
Due: tests

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
