Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

ci: add workflow to download mergify configuration from docs repo (#6416)
  .github/workflows/mergify-configuration-openapi-spec-sync.yml
Due: none

chore(context): don't override ctxt var (#6422)
  mergify_engine/context.py
Due: tests

chore: Rename methods to be in phase with what it does (#6423)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

fix(backport): Skip empty commits (#6411)
  mergify_engine/duplicate_pull.py
  mergify_engine/tests/functional/actions/test_backport.py
  zfixtures/cassettes/TestBackportAction/test_backport_skips_commit_when_change_already_in_destination_branch/config.json
  zfixtures/cassettes/TestBackportAction/test_backport_skips_commit_when_change_already_in_destination_branch/git-1.json
  zfixtures/cassettes/TestBackportAction/test_backport_skips_commit_when_change_already_in_destination_branch/git-2.json
  zfixtures/cassettes/TestBackportAction/test_backport_skips_commit_when_change_already_in_destination_branch/http.yaml
Due: tests

fix: typo (#6427)
  .github/workflows/linear.yaml
Due: none

ci(run-tests): don't allocate tty (#6433)
  tools/run-tests.sh
Due: none

chore(docker): image security scanning report (#6436)
  docker-security-scan.json
Due: none

feat: Add more metadata for action.queue.checks_end (#6421)
  mergify_engine/queue/merge_train/checks.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/rules/conditions.py
  mergify_engine/signals.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed/config.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed/http.yaml
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_timeout/config.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_timeout/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_timeout/http.yaml
Due: tests

test: refactor "conditions" to "merge_conditions" in test queue_rules configs (#6435)
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/actions/test_queue_train_api_calls.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/functional/api/test_partitions.py
  mergify_engine/tests/functional/api/test_queue.py
  mergify_engine/tests/functional/api/test_queue_freeze.py
  mergify_engine/tests/functional/api/test_statistics.py
  mergify_engine/tests/functional/api/test_statistics_with_partition_rules.py
  mergify_engine/tests/functional/api/test_subscriptions.py
  mergify_engine/tests/functional/commands/test_queue.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/functional/test_branch_protection.py
  mergify_engine/tests/functional/test_configuration.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/functional/test_statistics.py
  mergify_engine/tests/functional/test_summary.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/merge_train/conftest.py
  mergify_engine/tests/unit/merge_train/test_train.py
  mergify_engine/tests/unit/rules/test_merge.py
  mergify_engine/tests/unit/rules/test_priority_rules.py
  mergify_engine/tests/unit/rules/test_rules.py
Due: tests

fix(seats-count): use PR author only when opened (#6440)
  mergify_engine/count_seats.py
Due: tests

chore(docker): image security scanning report (#6441)
  docker-security-scan.json
Due: none

feat: Add pull request filter on event-logs url (#6446)
  mergify_engine/context.py
  mergify_engine/dashboard.py
  mergify_engine/engine/__init__.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/unit/test_dashboard.py
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/http.yaml
Due: tests

ci(configuration-openapi-spec-sync): run checkout first (#6445)
  .github/workflows/mergify-configuration-openapi-spec-sync.yml
Due: none

ci(configuration-openapi-spec-sync): fix header to get raw file (#6451)
  .github/workflows/mergify-configuration-openapi-spec-sync.yml
Due: none

chore(deps): bump click-option-group from 0.5.5 to 0.5.6 (#6455)
  poetry.lock
Due: none

fix: set a type for all consolidated attributes (#6453)
  mergify_engine/context.py
  mergify_engine/rules/types.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_types.py
Due: tests

feat: expose openapi.json on api.mergify.com/v1/openapi.json (#6447)
  mergify_engine/web/api/root.py
Due: tests

chore: ignore annoying error (#6462)
  mergify_engine/tests/conftest.py
Due: tests

test: Add test for stacked PR support according to our documentation (#6432)
  .gitignore
  mergify_engine/tests/functional/actions/test_delete_head_branch.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/conftest.py
  mergify_engine/tests/functional/test_stacked_pr.py
  pyproject.toml
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_branch_not_deleted_if_has_dep_no_force/config.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_branch_not_deleted_if_has_dep_no_force/git-1.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_branch_not_deleted_if_has_dep_no_force/http.yaml
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_basic/config.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_basic/git-1.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_basic/http.yaml
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_with_dep_force/config.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_with_dep_force/git-1.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_with_dep_force/http.yaml
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_with_shared_head_branches_and_dep_no_force/config.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_with_shared_head_branches_and_dep_no_force/git-1.json
  zfixtures/cassettes/TestDeleteHeadBranchAction/test_delete_branch_with_shared_head_branches_and_dep_no_force/http.yaml
  zfixtures/cassettes/TestStackedPr/test_merging_a_stack/config.json
  zfixtures/cassettes/TestStackedPr/test_merging_a_stack/git-1.json
  zfixtures/cassettes/TestStackedPr/test_merging_a_stack/http.yaml
Due: tests

test: Fix branch protection record on GHES (#6452)
  mergify_engine/context.py
  mergify_engine/tests/functional/base.py
  mergify_engine/tests/functional/test_branch_protection.py
  mergify_engine/tests/functional/test_debug.py
  zfixtures/cassettes/TestDebugger/test_debugger/config.json
  zfixtures/cassettes/TestDebugger/test_debugger/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger/http.yaml
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/config.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/git-1.json
  zfixtures/cassettes/TestDebugger/test_debugger_with_missing_branch_protection_rule_fields/http.yaml
Due: tests

chore(deps): bump rich from 13.1.0 to 13.4.2 (#6456)
  poetry.lock
Due: none

chore: bump datadog-mergify integration version to 1.0.1 (#6468)
  datadog/mergify-integration-version.txt
  dockerfiles/Dockerfile.common
Due: none

fix: typo in cli endpoint (#6469)
  pyproject.toml
Due: none

chore: sync Mergify configuration openapi spec file (#6467)
  docs/source/_extra/config/openapi.json
Due: docs

test: Fix tests collection when running in parallel (#6476)
  mergify_engine/tests/unit/rules/test_types.py
Due: tests

fix(recording): fix test_command_queue_with_routing_conditions_not_matching_and_no_fallback (#6480)
  mergify_engine/tests/functional/commands/test_queue.py
  zfixtures/cassettes/TestQueueCommand/test_command_queue_with_routing_conditions_not_matching_and_no_fallback/config.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_with_routing_conditions_not_matching_and_no_fallback/git-1.json
  zfixtures/cassettes/TestQueueCommand/test_command_queue_with_routing_conditions_not_matching_and_no_fallback/http.yaml
Due: tests

chore: Fix typo in docstring of `IgnoredEvent` exception (#6487)
  mergify_engine/github_events.py
Due: tests

chore(docker): image security scanning report (#6483)
  docker-security-scan.json
Due: none

chore(docker): image security scanning report (#6490)
  docker-security-scan.json
Due: none

chore: annotation with `typing.ClassVar` (#6500)
  mergify_engine/actions/assign.py
  mergify_engine/actions/close.py
  mergify_engine/actions/comment.py
  mergify_engine/actions/delete_head_branch.py
  mergify_engine/actions/dismiss_reviews.py
  mergify_engine/actions/edit.py
  mergify_engine/actions/label.py
  mergify_engine/actions/merge.py
  mergify_engine/actions/post_check.py
  mergify_engine/actions/queue.py
  mergify_engine/actions/rebase.py
  mergify_engine/actions/request_reviews.py
  mergify_engine/actions/review.py
  mergify_engine/actions/squash.py
  mergify_engine/logs.py
  mergify_engine/models/__init__.py
Due: tests

refactor: fix typing (#6499)
  .github/get-latest-python-version.py
Due: none

style: unnecessary assignment (#6498)
  mergify_engine/crypto.py
Due: tests

chore(api): generate API internal docs (#6495)
  mergify_engine/web/front/admin.py
  mergify_engine/web/front/applications.py
  mergify_engine/web/front/auth.py
  mergify_engine/web/front/configuration.py
  mergify_engine/web/front/proxy/__init__.py
  mergify_engine/web/github_webhook.py
  mergify_engine/web/healthcheck.py
  mergify_engine/web/legacy_badges.py
  mergify_engine/web/root.py
  mergify_engine/web/subscriptions.py
  pyproject.toml
  tools/build-docs.sh
Due: tests

chore: typo gitlab -> github (#6496)
  mergify_engine/tests/unit/test_gitter.py
Due: tests

chore(annotations): add classvar annotation (#6506)
  mergify_engine/yaml.py
Due: tests

refactor(freeze): change variables names and add refresh parameter (#6510)
  mergify_engine/actions/queue.py
  mergify_engine/queue/freeze.py
  mergify_engine/queue/merge_train/convoy.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/api/test_queue_freeze.py
  mergify_engine/web/api/queues/freeze.py
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_freeze/config.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_freeze/git-1.json
  zfixtures/cassettes/TestStatisticsEndpoints/test_time_to_merge_endpoint_with_freeze/http.yaml
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_with_freeze/config.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_with_freeze/git-1.json
  zfixtures/cassettes/TestStatisticsWithPartitionsEndpoints/test_time_to_merge_with_partitions_endpoint_with_freeze/http.yaml
Due: tests

chore(api): add internal API preview page (#6507)
  docs/source/_extra/api/internal.html
Due: docs

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
