Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

tests:
  name: run tests in parallel
  language: system
  pass_filenames: false
  entry: poetry run poe test-parallel -vv

docs:
  name: validate docs
  language: system
  pass_filenames: false
  entry: poetry run poe docs

refactor(events): add event request_reviews for UI sync (#6876)
  mergify_engine/eventlogs.py
  mergify_engine/signals.py
Due: tests

refactor: forward event to shadow office in background (#6880)
  mergify_engine/web/github_webhook.py
Due: tests

chore(yamllint): cleaning configuration (#6858)
  .yamllint.yml
Due: none

chore(commands_runner): remove unnecessary OrderedDict (#6888)
  mergify_engine/engine/commands_runner.py
Due: tests

ci: fix quote in create-linear-for-docs (#6890)
  .github/workflows/create-linear-for-docs.yaml
Due: none

feat(db): add postgresql anonymizer rules in code (#6832)
  .github/workflows/ci.yaml
  .gitignore
  .mergify.yml
  dockerfiles/Dockerfile.postgresql_anonymizer
  mergify_engine/database.py
  mergify_engine/models/anonymizer.py
  mergify_engine/models/application_keys.py
  mergify_engine/models/events.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/github_repository.py
  mergify_engine/models/github_user.py
  mergify_engine/tests/unit/test_database.py
  mergify_engine/tests/utils.py
  poe.toml
  pyproject.toml
Due: tests

fix(config): extends scalability (#6833)
  mergify_engine/ci/event_processing.py
  mergify_engine/context.py
  mergify_engine/events_db.py
  mergify_engine/filtered_github_types.py
  mergify_engine/models/__init__.py
  mergify_engine/models/db_migration/versions/dcc7be328fd0_add_metadata_on_github_repository_and_.py
  mergify_engine/models/events.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/github_repository.py
  mergify_engine/refresher.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/models/__init__.py
  mergify_engine/tests/unit/models/test_github_repository.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/tests/unit/test_database.py
  mergify_engine/utils.py
  mergify_engine/web/front/applications.py
Due: tests

fix(front): don't log session cookie (#6899)
  mergify_engine/middlewares/logging.py
Due: tests

fix(logging): don't log 50x as error (#6900)
  mergify_engine/middlewares/logging.py
  mergify_engine/tests/unit/web/test_middlewares.py
Due: tests

revert: "fix(config): extends scalability" (#6910)
  mergify_engine/ci/event_processing.py
  mergify_engine/context.py
  mergify_engine/events_db.py
  mergify_engine/filtered_github_types.py
  mergify_engine/models/__init__.py
  mergify_engine/models/events.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/github_repository.py
  mergify_engine/refresher.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/models/__init__.py
  mergify_engine/tests/unit/models/test_github_repository.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/tests/unit/test_database.py
  mergify_engine/utils.py
  mergify_engine/web/front/applications.py
Due: tests

revert: "chore(commands_runner): remove unnecessary OrderedDict" (#6893)
  mergify_engine/engine/commands_runner.py
Due: tests

fix(date): `fromisoformat_with_zoneinfo` bug (#6915)
  mergify_engine/date.py
  mergify_engine/tests/unit/test_date.py
Due: tests

ci(docker): ensure import checks exit on first error (#6918)
  .github/workflows/docker-saas.yaml
Due: none

fix(web/queues): Add missing `DRAFT_DELEGATED` enum in old queue details endpoint (#6919)
  mergify_engine/web/api/queues/details.py
Due: tests

fix(config): extends scalability (#6913)
  mergify_engine/ci/event_processing.py
  mergify_engine/context.py
  mergify_engine/events_db.py
  mergify_engine/filtered_github_types.py
  mergify_engine/models/__init__.py
  mergify_engine/models/db_migration/versions/0305f7aaf9cc_github_repository_owner_id_name_index.py
  mergify_engine/models/events.py
  mergify_engine/models/github_account.py
  mergify_engine/models/github_actions.py
  mergify_engine/models/github_repository.py
  mergify_engine/refresher.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/models/__init__.py
  mergify_engine/tests/unit/models/test_github_repository.py
  mergify_engine/tests/unit/rules/test_rules.py
  mergify_engine/tests/unit/test_database.py
  mergify_engine/utils.py
  mergify_engine/web/front/applications.py
Due: tests

fix(config): update cache if not complete (#6928)
  mergify_engine/context.py
  mergify_engine/models/github_repository.py
  mergify_engine/tests/unit/models/test_github_repository.py
Due: tests

test(date): add tests for fromisoformat_with_zoneinfo (#6925)
  mergify_engine/tests/unit/test_date.py
Due: tests

fix(eventlog): remove application name prefix from check's name (#6865)
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_batch/config.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_batch/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_batch/http.yaml
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_spec_checks/config.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_spec_checks/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_spec_checks/http.yaml
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_spec_checks_and_second_pr_failing/config.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_spec_checks_and_second_pr_failing/git-1.json
  zfixtures/cassettes/TestEventLogsAction/test_unsuccessful_checks_failed_with_spec_checks_and_second_pr_failing/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_outside_schedule/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_outside_schedule/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_ci_timeout_outside_schedule/http.yaml
Due: tests

refactor(docker): let anonymizer log (#6922)
  dockerfiles/Dockerfile.postgresql_anonymizer
  dockerfiles/anon-custom.sh
  poe.toml
Due: none

ci: automatically update production database (#6914)
  .github/workflows/docker-saas.yaml
  tools/pg_url_to_env.py
Due: none

ci: fix path of pg_url_to_env.py (#6936)
  .github/workflows/docker-saas.yaml
Due: none

ci: set correct postgresql url (#6941)
  .github/workflows/docker-saas.yaml
Due: none

ci: set correct postgresql url (#6943)
  .github/workflows/docker-saas.yaml
Due: none

ci: remove unwanted quote (#6945)
  .github/workflows/docker-saas.yaml
Due: none

ci(docker): use pg_dump from 15.x (#6947)
  .github/workflows/docker-saas.yaml
Due: none

ci: fix pipefail option name (#6960)
  .github/workflows/docker-saas.yaml
Due: none

ci(docker): remove database update testing (#6968)
  .github/workflows/docker-saas.yaml
Due: none

fix(eventlog): filter out "skipped" and "neutral" checks from unsuccessful checks (#6897)
  mergify_engine/queue/merge_train/train_car.py
Due: tests

fix(installer): set a default port (#6940)
  onpremise/entrypoint.sh
Due: none

ci(onprem): allow to use tagged version of installer (#6950)
  .github/workflows/docker-onpremise.yaml
  dockerfiles/Dockerfile.onpremise.footer
  dockerfiles/Dockerfile.onpremise.header
Due: none

ci(mergify): automerge openapi spec sync (#6957)
  .mergify.yml
Due: none

chore: sync Mergify configuration openapi spec file (#6933)
  docs/source/_extra/config/openapi.json
Due: docs

feat(rules): add `current-datetime` condition (#6901)
  docs/source/conditions.rst
  mergify_engine/context.py
  mergify_engine/rules/parser.py
  mergify_engine/tests/functional/test_attributes.py
  mergify_engine/tests/unit/rules/test_filter.py
  mergify_engine/tests/unit/rules/test_parser.py
  releasenotes/notes/current-datetime-condition-dbc506d2a9f6ae19.yaml
  zfixtures/cassettes/TestAttributes/test_current_datetime/config.json
  zfixtures/cassettes/TestAttributes/test_current_datetime/git-1.json
  zfixtures/cassettes/TestAttributes/test_current_datetime/http.yaml
Due: tests, docs

fix: display an error if an extended repository doesn't have a Mergify configuration file (#6978)
  mergify_engine/context.py
  mergify_engine/rules/config/mergify.py
  mergify_engine/tests/functional/test_configuration.py
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_a_configuration_file/config.json
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_a_configuration_file/git-1.json
  zfixtures/cassettes/TestConfiguration/test_extended_repo_does_not_have_a_configuration_file/http.yaml
Due: tests

ci: fix GraphQL query for Linear (#6980)
  .github/workflows/create-linear-for-docs.yaml
Due: none

ci(docker): remove useless generation of pg anomymizer rules (#6977)
  .github/workflows/docker-saas.yaml
Due: none

feat(events): model for action.queue.checks_start (#6862)
  mergify_engine/models/__init__.py
  mergify_engine/models/anonymizer.py
  mergify_engine/models/db_migration/versions/2c28d483d111_model_queue_checks_start.py
  mergify_engine/models/enumerations.py
  mergify_engine/models/events.py
  mergify_engine/models/events_metadata.py
  mergify_engine/queue/merge_train/train_car.py
  mergify_engine/signals.py
  mergify_engine/tests/functional/actions/test_queue.py
  mergify_engine/tests/functional/api/test_eventlogs.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

feat(events): actions review and request_reviewers models (#6827)
  mergify_engine/actions/request_reviews.py
  mergify_engine/eventlogs.py
  mergify_engine/models/db_migration/versions/8e0dfc0c03be_events_request_reviews_and_review.py
  mergify_engine/models/enumerations.py
  mergify_engine/models/events.py
  mergify_engine/signals.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

chore(docker): image security scanning report (#6987)
  docker-security-scan.json
Due: none

feat(events): queue_freeze_create model (#6838)
  mergify_engine/models/db_migration/versions/eb3c1af482b2_event_model_queue_freeze_create.py
  mergify_engine/models/enumerations.py
  mergify_engine/models/events.py
  mergify_engine/models/events_metadata.py
  mergify_engine/tests/unit/test_events_db.py
Due: tests

Path conditions:
  tests: any of: ^(mergify_engine|zfixtures)/
  docs: any of: ^docs/
