Repository Syffe/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, docs

.pre-commit-config.yaml:

default_stages: [push]

repos:
  - repo: local
    hooks:
      - id: linters
        name: Lint files
        language: system
        pass_filenames: false
        entry: poetry run poe linters

      - id: tests
        name: run tests in parallel
        language: system
        files: ^(mergify_engine|zfixtures)/
        pass_filenames: false
        entry: poetry run poe test-parallel -vv

      - id: docs
        name: validate docs
        language: system
        files: ^docs/
        pass_filenames: false
        entry: poetry run poe docs

fix(github): add logs to reproduce a GitHub bug (#6161)
  mergify_engine/branch_updater.py
Due: tests

ci(mergify): use routing_conditions in config (#6092)
  .mergify.yml
Due: none

chore(docker): image security scanning report (#6168)
  docker-security-scan.json
Due: none

revert: "ci(mergify): use routing_conditions in config" (#6167)
  .mergify.yml
Due: none

fix(test): add tests for fallback_partition queuing (#6166)
  mergify_engine/tests/functional/actions/test_queue_with_partition_rules.py
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_fallback_partition_if_pr_dont_match_any_partitions_inplace/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_fallback_partition_if_pr_dont_match_any_partitions_inplace/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_fallback_partition_if_pr_dont_match_any_partitions_inplace/http.yaml
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_fallback_partition_if_pr_dont_match_any_partitions_no_inplace/config.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_fallback_partition_if_pr_dont_match_any_partitions_no_inplace/git-1.json
  zfixtures/cassettes/TestQueueWithPartitionRules/test_queue_fallback_partition_if_pr_dont_match_any_partitions_no_inplace/http.yaml
Due: tests

fix(check_runs): summary link points to the dashboard eventlog (#6195)
  mergify_engine/context.py
  mergify_engine/dashboard/__init__.py
  mergify_engine/engine/__init__.py
  mergify_engine/tests/functional/test_engine.py
  mergify_engine/tests/unit/test_dashboard.py
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/config.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/git-1.json
  zfixtures/cassettes/TestEngineV2Scenario/test_pull_request_init_summary/http.yaml
Due: tests

fix(ci): return null differences if no there is no date range comparison (#6148)
  mergify_engine/ci/reports.py
  mergify_engine/tests/functional/api/test_ci.py
  mergify_engine/tests/unit/ci/test_reports.py
Due: tests

feat(ci): leverage GitHub events (#6024)
  mergify_engine/ci/dump.py
  mergify_engine/ci/job_registries.py
  mergify_engine/config/__init__.py
  mergify_engine/github_events.py
  mergify_engine/github_types.py
  mergify_engine/tests/unit/ci/test_dump.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
  mergify_engine/tests/unit/ci/test_postgres_job_registry.py
  mergify_engine/tests/unit/conftest.py
  mergify_engine/tests/unit/events/workflow_job.completed.json
  mergify_engine/tests/unit/events/workflow_job.in_progress.json
  mergify_engine/tests/unit/events/workflow_run.completed.json
  mergify_engine/tests/unit/events/workflow_run.in_progress.json
  mergify_engine/tests/unit/test_github_events.py
  mergify_engine/tests/unit/test_worker.py
  mergify_engine/worker/ci_dump_stream_service.py
  mergify_engine/worker/manager.py
  mergify_engine/worker_pusher.py
Due: tests

fix(docker): use same version for front and back docker images (#6122)
  .github/workflows/docker-onpremise.yaml
  .github/workflows/docker-saas.yaml
  dockerfiles/Dockerfile.onpremise.footer
  dockerfiles/Dockerfile.onpremise.header
  tools/docker-build-dev.sh
Due: none

fix(ci): drop pull request number unique constraint (#6218)
  db_migration/versions/01294c4668ae_drop_pull_request_number_key.py
  mergify_engine/models/github_actions.py
Due: tests

chore(docker-scanner): reduce noise caused by everyday update (#6210)
  .github/actions/clifus-setup/action.yml
  .github/actions/tooling-setup/action.yml
  .github/clifus.yml
  .github/docker-security-reporter.yml
  .github/workflows/clifus.yaml
  .github/workflows/security-scanner.yaml
  docker-security-scan.json
Due: none

chore(worker): disable ci-dump (#6220)
  dockerfiles/Dockerfile.saas
Due: none

chore(worker): disable ci workflow run/job ingestion (#6223)
  mergify_engine/config/__init__.py
  mergify_engine/github_events.py
  mergify_engine/tests/conftest.py
Due: tests

ci(linear): add devs to the list (#6217)
  .github/workflows/linear.yaml
Due: none

chore(clifus): fix typo in clifus path (#6227)
  .github/workflows/clifus.yaml
Due: none

refactor(queue): add log and better summary for failure in routing conditions (#6216)
  mergify_engine/actions/queue.py
  mergify_engine/rules/config/queue_rules.py
  mergify_engine/tests/functional/actions/test_queue.py
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_update_after_queued/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_update_after_queued/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_update_after_queued/http.yaml
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_with_pull_request_rules_and_no_fallback/config.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_with_pull_request_rules_and_no_fallback/git-1.json
  zfixtures/cassettes/TestQueueAction/test_queue_routing_conditions_failure_with_pull_request_rules_and_no_fallback/http.yaml
Due: tests

chore(tooling): make python script executable (#6228)
  .github/actions/tooling-setup/action.yml
Due: none

ci(clifus): use same branch format all clifus jobs (#6233)
  .github/workflows/clifus.yaml
Due: none

docs: add new required permission (#6222)
  docs/source/getting-started.rst
Due: docs

chore(docker): image security scanning report (#6200)
  docker-security-scan.json
Due: none

fix(action): copy is expected to fail with git bad config (#6088)
  mergify_engine/duplicate_pull.py
  mergify_engine/tests/unit/test_gitter.py
Due: tests

fix(ci): handle events without organization (#6243)
  mergify_engine/ci/dump.py
  mergify_engine/tests/unit/ci/test_dump.py
  mergify_engine/tests/unit/events/workflow_job.no_org.json
  mergify_engine/tests/unit/events/workflow_run.no_org.json
Due: tests

chore(docker-saas): make worker image more generic (#6226)
  .github/workflows/docker-saas.yaml
  dockerfiles/Dockerfile.saas
  dockerfiles/saas-worker.sh
  tools/docker-build-dev.sh
Due: none

refactor(ci): don't load all hash keys (#6240)
  mergify_engine/ci/dump.py
  mergify_engine/tests/unit/ci/test_dump.py
Due: tests

chore: bump datadog-mergify integration version to 1.0.0
  datadog/mergify-integration-version.txt
  dockerfiles/Dockerfile.common
Due: none

fix(ci): store less data in Redis (#6246)
  mergify_engine/github_events.py
  mergify_engine/tests/unit/ci/test_dump.py
  mergify_engine/tests/unit/test_utils.py
  mergify_engine/utils.py
Due: tests

fix(ci): don't process the same event twice (#6239)
  mergify_engine/ci/dump.py
  mergify_engine/ci/job_registries.py
  mergify_engine/tests/unit/ci/test_dump.py
  mergify_engine/tests/unit/test_github_events.py
  mergify_engine/worker_pusher.py
Due: tests

chore: Fix pre-commit steps to launch only when required (#6260)
  .pre-commit-config.yaml
  .pre-commit-scripts/launch_tests.sh
  .pre-commit-scripts/validate_docs.sh
Due: none

chore: Remove outdated comment (#6261)
  mergify_engine/queue/merge_train/train.py
Due: tests

refactor(ci): move JobRun constructor to its own class (#6257)
  mergify_engine/ci/dump.py
  mergify_engine/ci/job_registries.py
  mergify_engine/ci/models.py
  mergify_engine/tests/unit/ci/test_http_job_registry.py
  mergify_engine/tests/unit/ci/test_model.py
Due: tests

fix(ci): macOS xl runners are 12 cores, not 3 (#6264)
  mergify_engine/ci/models.py
  mergify_engine/tests/unit/ci/test_model.py
Due: tests

chore(docker): image security scanning report This is the docker image security scanning report
  docker-security-scan.json
Due: none

fix(review): add maintain (#6275)
  mergify_engine/github_types.py
  mergify_engine/tests/unit/github_types/test_github_repository_permission.py
Due: tests

refactor(ci): don't make request if not necesary (#6268)
  mergify_engine/ci/models.py
  mergify_engine/tests/unit/ci/test_model.py
Due: tests

refactor(ci): better log message (#6269)
  mergify_engine/github_events.py
  mergify_engine/tests/unit/test_github_events.py
  mergify_engine/worker_pusher.py
Due: tests

refactor(ci): smart pull request cache (#6272)
  mergify_engine/ci/pull_registries.py
  mergify_engine/tests/unit/ci/test_redis_pull_request_registry.py
Due: tests

refactor(ci): less requests to /installation (#6271)
  mergify_engine/ci/dump.py
  mergify_engine/ci/pull_registries.py
  mergify_engine/tests/unit/ci/test_http_pull_request_registry.py
Due: tests

fix(update): better error message for permission issue (#6258)
  mergify_engine/branch_updater.py
  mergify_engine/tests/unit/test_branch_updater.py
Due: tests

chore(github-events): leverage new masking utility (#6267)
  mergify_engine/count_seats.py
  mergify_engine/filtered_github_types.py
  mergify_engine/github_events.py
  mergify_engine/refresher.py
  mergify_engine/tests/unit/test_utils.py
  mergify_engine/utils.py
  mergify_engine/worker_pusher.py
Due: tests
